/** $string - svg */
/** add unique id image url */
/** https://webdesign.tutsplus.com/tutorials/an-introduction-to-error-handling-in-sass--cms-19996 */
/** get breakpoint */
/** font size */
/** keyframe */
.car-rental__banner img {
  width: 100%;
}

.car-rental__lists .heading-title {
  max-width: 62%;
  margin-left: auto;
  margin-right: auto;
}
.car-rental__lists .heading-title {
  margin-bottom: 1.875rem;
}
@media only screen and (min-width: 64rem) {
  .car-rental__lists .heading-title {
    margin-bottom: 3.75rem;
  }
}
@media only screen and (max-width: 47.99875rem) {
  .car-rental__lists .heading-title {
    max-width: 80%;
  }
}
@media only screen and (max-width: 33.99875rem) {
  .car-rental__lists .heading-title {
    max-width: 100%;
  }
}
.car-rental__lists .wrapper {
  gap: 30px;
}
@media only screen and (max-width: 47.99875rem) {
  .car-rental__lists .wrapper {
    gap: 15px;
  }
}
@media only screen and (max-width: 47.99875rem) {
  .car-rental__lists .wrapper {
    gap: 10px;
  }
}
.car-rental__lists .wrapper .inner {
  width: calc(33.3333333333% - 20px);
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.1019607843);
  padding: 20px;
  flex-direction: column;
}
@media only screen and (max-width: 47.99875rem) {
  .car-rental__lists .wrapper .inner {
    width: calc(50% - 15px);
  }
}
@media only screen and (max-width: 33.99875rem) {
  .car-rental__lists .wrapper .inner {
    padding: 10px;
    width: calc(50% - 5px);
  }
}
.car-rental__lists .wrapper .inner > .item {
  flex-direction: column;
  flex: auto;
}
.car-rental__lists .wrapper .inner > .item .cover .gallery-wrapper .gallery .block::before {
  content: "";
  display: block;
  padding-bottom: 70%;
}
.car-rental__lists .wrapper .inner > .item .cover .gallery-wrapper .gallery .block img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
}
.car-rental__lists .wrapper .inner > .item .cover .gallery-wrapper .gallery.slider-nav {
  margin-top: 0.9375rem;
}
@media only screen and (min-width: 64rem) {
  .car-rental__lists .wrapper .inner > .item .cover .gallery-wrapper .gallery.slider-nav {
    margin-top: 1.25rem;
  }
}
@media only screen and (max-width: 47.99875rem) {
  .car-rental__lists .wrapper .inner > .item .cover .gallery-wrapper .gallery.slider-nav {
    display: none;
  }
}
.car-rental__lists .wrapper .inner > .item .cover .gallery-wrapper .gallery.slider-nav .slick-list {
  margin-left: -10px;
}
.car-rental__lists .wrapper .inner > .item .cover .gallery-wrapper .gallery.slider-nav .slick-track {
  gap: 15px;
}
.car-rental__lists .wrapper .inner > .item .cover .gallery-wrapper .gallery.slider-nav .block::before {
  padding-bottom: 90%;
}
.car-rental__lists .wrapper .inner > .item .cover .gallery-wrapper .slick-track {
  display: flex;
}
.car-rental__lists .wrapper .inner > .item .content {
  flex: auto;
}
.car-rental__lists .wrapper .inner > .item .content {
  padding-top: 0.9375rem;
}
@media only screen and (min-width: 64rem) {
  .car-rental__lists .wrapper .inner > .item .content {
    padding-top: 1.875rem;
  }
}
.car-rental__lists .wrapper .inner > .item .content > .title {
  margin-bottom: 15px;
  line-height: 1.6;
  min-height: 58px;
}
.car-rental__lists .wrapper .inner > .item .content > .title {
  font-size: 1rem;
}
@media only screen and (min-width: 64rem) {
  .car-rental__lists .wrapper .inner > .item .content > .title {
    font-size: 1.125rem;
  }
}
.car-rental__lists .wrapper .inner > .item .content > .title a {
  color: #000000;
}
.car-rental__lists .wrapper .inner > .item .content > .title a:hover {
  color: #00A651;
}
.car-rental__lists .wrapper .inner > .item .content .tag-car {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 20px;
}
@media only screen and (max-width: 47.99875rem) {
  .car-rental__lists .wrapper .inner > .item .content .tag-car {
    gap: 8px;
  }
}
.car-rental__lists .wrapper .inner > .item .content .tag-car .item {
  display: block;
  border: 1px solid #FA541C;
  border-radius: 14px;
  padding: 5px 20px;
  gap: 8px;
}
.car-rental__lists .wrapper .inner > .item .content .tag-car .item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
@media only screen and (max-width: 47.99875rem) {
  .car-rental__lists .wrapper .inner > .item .content .tag-car .item {
    border-radius: 10px;
    padding: 5px 6px;
    font-size: 12px;
    gap: 6px;
  }
}
.car-rental__lists .wrapper .inner > .item .content .tag-car .item img {
  object-fit: contain;
}
.car-rental__lists .wrapper .inner > .item .content .tag-car .item img {
  width: 1.5rem;
  height: 1.5rem;
}
@media only screen and (max-width: 47.99875rem) {
  .car-rental__lists .wrapper .inner > .item .content .tag-car .item img {
    width: 0.875rem;
    height: 0.875rem;
  }
}
.car-rental__lists .wrapper .inner > .item .content .tag-car .item span {
  color: #FA541C;
  font-weight: 600;
}
.car-rental__lists .wrapper .inner > .item .content .car-utilities {
  margin-top: 15px;
  color: #00A651;
}
.car-rental__lists .wrapper .inner > .item .content .car-utilities .title {
  font-weight: 700;
  text-decoration: underline;
  margin-bottom: 5px;
}
.car-rental__lists .wrapper .inner > .item .content .car-utilities .desc {
  list-style-type: disc;
  margin-bottom: 5px;
}
.car-rental__lists .wrapper .inner > .item .content .car-utilities .desc {
  padding-left: 1.25rem;
}
@media only screen and (min-width: 64rem) {
  .car-rental__lists .wrapper .inner > .item .content .car-utilities .desc {
    padding-left: 1.875rem;
  }
}
@media only screen and (max-width: 47.99875rem) {
  .car-rental__lists .wrapper .inner > .item .content .car-utilities .desc {
    font-size: 11px;
  }
}
.car-rental__lists .wrapper .inner > .item .content .car-utilities .desc ul {
  padding-left: 0;
  margin: 0;
}
.car-rental__lists .wrapper .inner > .item .contact {
  padding-top: 0.9375rem;
}
@media only screen and (min-width: 64rem) {
  .car-rental__lists .wrapper .inner > .item .contact {
    padding-top: 1.875rem;
  }
}
@media only screen and (max-width: 47.99875rem) {
  .car-rental__lists .wrapper .inner > .item .contact {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 47.99875rem) {
  .car-rental__lists .wrapper .inner > .item .contact .item-cta {
    width: 100%;
  }
}
.car-rental__lists .wrapper .inner > .item .contact .item-cta .text {
  font-size: 14px;
  color: #333333;
  font-weight: 500;
}
@media only screen and (max-width: 47.99875rem) {
  .car-rental__lists .wrapper .inner > .item .contact .item-cta .text {
    font-size: 10px;
  }
}
.car-rental__lists .wrapper .inner > .item .contact .item-cta .hotline {
  font-weight: 600;
  margin: 0 10px;
}
@media only screen and (max-width: 47.99875rem) {
  .car-rental__lists .wrapper .inner > .item .contact .item-cta .hotline {
    margin-left: 0;
    margin-right: 5px;
    font-size: 10px;
  }
}
.car-rental__lists .wrapper .inner > .item .contact .item-cta .hotline i {
  transform: rotate(30deg);
  margin-right: 5px;
}
.car-rental__lists .wrapper .inner > .item .contact .item-cta .zalo img {
  width: 32px;
}
@media only screen and (max-width: 47.99875rem) {
  .car-rental__lists .wrapper .inner > .item .contact .item-cta .zalo img {
    width: 22px;
  }
}
@media only screen and (max-width: 47.99875rem) {
  .car-rental__lists .wrapper .inner > .item .contact .item-cta .zalo img {
    width: 18px;
  }
}
.car-rental__lists .wrapper .inner > .item .contact .btn-main {
  margin-top: 0;
}
@media only screen and (max-width: 47.99875rem) {
  .car-rental__lists .wrapper .inner > .item .contact .btn-main {
    width: 100%;
    margin-top: 10px;
  }
}

.car-rental__promotion .wrapper .cell.col-video {
  flex: 1;
}
@media only screen and (max-width: 47.99875rem) {
  .car-rental__promotion .wrapper .cell.col-video {
    flex: 0 0 100%;
  }
}
.car-rental__promotion .wrapper .cell.col-video .video-btn img {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
@media only screen and (max-width: 47.99875rem) {
  .car-rental__promotion .wrapper .cell.col-video .video-btn img {
    border-bottom-left-radius: 0;
    border-top-right-radius: 8px;
  }
}
.car-rental__promotion .wrapper .cell.col-video .ic-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #ffffff;
  border-radius: 50%;
  color: #ffffff;
  z-index: 2;
}
.car-rental__promotion .wrapper .cell.col-video .ic-play {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.car-rental__promotion .wrapper .cell.col-video .ic-play {
  font-size: 1.625rem;
}
@media only screen and (min-width: 64rem) {
  .car-rental__promotion .wrapper .cell.col-video .ic-play {
    font-size: 2rem;
  }
}
.car-rental__promotion .wrapper .cell.col-video .ic-play {
  width: 4.375rem;
  height: 4.375rem;
}
@media only screen and (max-width: 47.99875rem) {
  .car-rental__promotion .wrapper .cell.col-video .ic-play {
    width: 2.8125rem;
    height: 2.8125rem;
  }
}
.car-rental__promotion .wrapper .cell.col-video .ic-play::before {
  content: "";
  position: absolute;
  top: auto;
  left: auto;
  background: rgba(255, 255, 255, 0.5215686275);
  border-radius: 50%;
  animation: pulse 1.5s infinite;
  z-index: -1;
  border-bottom-left-radius: 8px;
}
.car-rental__promotion .wrapper .cell.col-video .ic-play::before {
  width: 5.125rem;
  height: 5.125rem;
}
@media only screen and (max-width: 47.99875rem) {
  .car-rental__promotion .wrapper .cell.col-video .ic-play::before {
    width: 3.5625rem;
    height: 3.5625rem;
  }
}
.car-rental__promotion .wrapper .cell.col-video .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 11.17%, rgba(0, 0, 0, 0.4) 63.01%);
  border-bottom-left-radius: 8px;
}
@media only screen and (max-width: 47.99875rem) {
  .car-rental__promotion .wrapper .cell.col-video .content {
    border-bottom-left-radius: 0px;
  }
}
.car-rental__promotion .wrapper .cell.col-video .content .tag {
  background-color: #F5222D;
  height: 34px;
  padding: 0 16px;
  border-radius: 4px;
  color: #ffffff;
  text-transform: capitalize;
  font-weight: 400;
}
.car-rental__promotion .wrapper .cell.col-video .content .tag {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.car-rental__promotion .wrapper .cell.col-video .content .tag {
  font-size: 1rem;
}
@media only screen and (min-width: 64rem) {
  .car-rental__promotion .wrapper .cell.col-video .content .tag {
    font-size: 1.125rem;
  }
}
.car-rental__promotion .wrapper .cell.col-video .content .desc {
  margin-top: 10px;
  color: #ffffff;
  font-weight: 600;
  line-height: 1.3;
}
.car-rental__promotion .wrapper .cell.col-video .content .desc {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: initial;
}
@supports (-webkit-line-clamp: 3) {
  .car-rental__promotion .wrapper .cell.col-video .content .desc {
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
  }
}
.car-rental__promotion .wrapper .cell.col-video .content .desc {
  font-size: 1.25rem;
}
@media only screen and (min-width: 48rem) {
  .car-rental__promotion .wrapper .cell.col-video .content .desc {
    font-size: 1.4375rem;
  }
}
@media only screen and (min-width: 64rem) {
  .car-rental__promotion .wrapper .cell.col-video .content .desc {
    font-size: 1.625rem;
  }
}
.car-rental__promotion .wrapper .cell.col-promotion {
  flex: 0 0 52%;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}
@media only screen and (max-width: 47.99875rem) {
  .car-rental__promotion .wrapper .cell.col-promotion {
    flex: 0 0 100%;
    border-top-right-radius: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}
.car-rental__promotion .wrapper .cell.col-promotion::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(26, 175, 98, 0.7882352941);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
@media only screen and (max-width: 47.99875rem) {
  .car-rental__promotion .wrapper .cell.col-promotion::before {
    border-top-right-radius: 0;
    border-bottom-left-radius: 8px;
  }
}
.car-rental__promotion .wrapper .cell.col-promotion .inner {
  height: 100%;
  flex-direction: column;
  padding: 30px 60px;
}
.car-rental__promotion .wrapper .cell.col-promotion .inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
@media only screen and (max-width: 47.99875rem) {
  .car-rental__promotion .wrapper .cell.col-promotion .inner {
    padding: 30px;
  }
}
@media only screen and (max-width: 33.99875rem) {
  .car-rental__promotion .wrapper .cell.col-promotion .inner {
    padding: 30px 15px;
  }
}
.car-rental__promotion .wrapper .cell.col-promotion .inner .heading-title {
  font-weight: 900;
  color: #FA541C;
  -webkit-text-stroke: 1px #ffffff;
}
.car-rental__promotion .wrapper .cell.col-promotion .inner .heading-title {
  font-size: 1.5rem;
}
@media only screen and (min-width: 48rem) {
  .car-rental__promotion .wrapper .cell.col-promotion .inner .heading-title {
    font-size: 1.875rem;
  }
}
@media only screen and (min-width: 64rem) {
  .car-rental__promotion .wrapper .cell.col-promotion .inner .heading-title {
    font-size: 2.25rem;
  }
}
.car-rental__promotion .wrapper .cell.col-promotion .inner #countdown-wrapper #countdown {
  gap: 40px;
}
.car-rental__promotion .wrapper .cell.col-promotion .inner #countdown-wrapper #countdown {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
@media only screen and (max-width: 47.99875rem) {
  .car-rental__promotion .wrapper .cell.col-promotion .inner #countdown-wrapper #countdown {
    gap: 30px;
  }
}
.car-rental__promotion .wrapper .cell.col-promotion .inner #countdown-wrapper #countdown .countdown-item {
  position: relative;
  text-align: center;
}
.car-rental__promotion .wrapper .cell.col-promotion .inner #countdown-wrapper #countdown .countdown-item::after {
  content: ":";
  position: absolute;
  font-weight: 700;
  color: #ffffff;
  right: -48%;
  top: 32px;
  line-height: normal;
  transform: translate(-50%, -50%);
}
.car-rental__promotion .wrapper .cell.col-promotion .inner #countdown-wrapper #countdown .countdown-item::after {
  font-size: 1.375rem;
}
@media only screen and (min-width: 48rem) {
  .car-rental__promotion .wrapper .cell.col-promotion .inner #countdown-wrapper #countdown .countdown-item::after {
    font-size: 1.625rem;
  }
}
@media only screen and (min-width: 64rem) {
  .car-rental__promotion .wrapper .cell.col-promotion .inner #countdown-wrapper #countdown .countdown-item::after {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 47.99875rem) {
  .car-rental__promotion .wrapper .cell.col-promotion .inner #countdown-wrapper #countdown .countdown-item::after {
    top: 32%;
    right: -40%;
  }
}
.car-rental__promotion .wrapper .cell.col-promotion .inner #countdown-wrapper #countdown .countdown-item:last-child::after {
  content: none;
}
.car-rental__promotion .wrapper .cell.col-promotion .inner #countdown-wrapper #countdown .countdown-item span {
  font-weight: 700;
  color: #FA541C;
  border-radius: 50%;
  background-color: #ffffff;
}
.car-rental__promotion .wrapper .cell.col-promotion .inner #countdown-wrapper #countdown .countdown-item span {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.car-rental__promotion .wrapper .cell.col-promotion .inner #countdown-wrapper #countdown .countdown-item span {
  width: 4rem;
  height: 4rem;
}
.car-rental__promotion .wrapper .cell.col-promotion .inner #countdown-wrapper #countdown .countdown-item span {
  font-size: 1.25rem;
}
@media only screen and (min-width: 48rem) {
  .car-rental__promotion .wrapper .cell.col-promotion .inner #countdown-wrapper #countdown .countdown-item span {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 64rem) {
  .car-rental__promotion .wrapper .cell.col-promotion .inner #countdown-wrapper #countdown .countdown-item span {
    font-size: 1.875rem;
  }
}
@media only screen and (max-width: 47.99875rem) {
  .car-rental__promotion .wrapper .cell.col-promotion .inner #countdown-wrapper #countdown .countdown-item span {
    width: 3.5rem;
    height: 3.5rem;
  }
}
.car-rental__promotion .wrapper .cell.col-promotion .inner #countdown-wrapper #countdown .countdown-item div {
  padding-top: 5px;
  font-weight: 500;
  color: #ffffff;
}
.car-rental__promotion .wrapper .cell.col-promotion .inner #countdown-wrapper #countdown .countdown-item div {
  font-size: 1rem;
}
@media only screen and (min-width: 64rem) {
  .car-rental__promotion .wrapper .cell.col-promotion .inner #countdown-wrapper #countdown .countdown-item div {
    font-size: 1.25rem;
  }
}
.car-rental__promotion .wrapper .cell.col-promotion .inner .btn-main {
  text-transform: uppercase;
  height: 46px;
}
.car-rental__promotion .wrapper .cell.col-promotion .inner .btn-main {
  margin-top: 1.25rem;
}
@media only screen and (min-width: 64rem) {
  .car-rental__promotion .wrapper .cell.col-promotion .inner .btn-main {
    margin-top: 1.875rem;
  }
}
.car-rental__promotion .wrapper .cell.col-promotion .inner .btn-main {
  font-size: 1.125rem;
}
@media only screen and (min-width: 64rem) {
  .car-rental__promotion .wrapper .cell.col-promotion .inner .btn-main {
    font-size: 1.375rem;
  }
}
.car-rental__promotion .wrapper .cell.col-promotion .inner .btn-main:hover {
  background-color: #F5222D;
}
@media only screen and (max-width: 47.99875rem) {
  .car-rental__promotion .wrapper .cell.col-promotion .inner .btn-main {
    height: 40px;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.7;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.3;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
.rental-general {
  display: flex;
  flex-direction: column;
}
.rental-general .heading-group img {
  height: 30px;
}
.rental-general .section-route-experience {
  background-color: #F3FFF9;
}
@media only screen and (max-width: 33.99875rem) {
  .rental-general .section-route-experience .heading-title {
    font-size: 23px;
  }
}
.rental-general .section-route-experience .wrapper {
  list-style-type: none;
  padding: 0;
  margin: 35px 0 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
@media only screen and (max-width: 47.99875rem) {
  .rental-general .section-route-experience .wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 20px;
    margin: 40px 0 0;
  }
}
@media only screen and (max-width: 33.99875rem) {
  .rental-general .section-route-experience .wrapper {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}
.rental-general .section-route-experience .wrapper .item {
  padding: 15px;
  flex-direction: column;
  background-color: #ffffff;
  border: 2px solid #EAEAEA;
  border-radius: 16px;
}
.rental-general .section-route-experience .wrapper .item .cover {
  border-radius: 4px;
  cursor: pointer;
}
.rental-general .section-route-experience .wrapper .item .cover .res {
  aspect-ratio: unset;
  padding-top: 62%;
}
.rental-general .section-route-experience .wrapper .item .cover .res img {
  border-radius: 4px;
}
.rental-general .section-route-experience .wrapper .item .content {
  flex-direction: column;
  flex: auto;
  justify-content: space-between;
}
.rental-general .section-route-experience .wrapper .item .content {
  padding-left: 0.625rem;
}
@media only screen and (min-width: 64rem) {
  .rental-general .section-route-experience .wrapper .item .content {
    padding-left: 0.75rem;
  }
}
.rental-general .section-route-experience .wrapper .item .content {
  padding-right: 0.625rem;
}
@media only screen and (min-width: 64rem) {
  .rental-general .section-route-experience .wrapper .item .content {
    padding-right: 0.75rem;
  }
}
.rental-general .section-route-experience .wrapper .item .content {
  padding-top: 1.25rem;
}
@media only screen and (min-width: 64rem) {
  .rental-general .section-route-experience .wrapper .item .content {
    padding-top: 1.875rem;
  }
}
.rental-general .section-route-experience .wrapper .item .content {
  padding-bottom: 1.25rem;
}
@media only screen and (min-width: 64rem) {
  .rental-general .section-route-experience .wrapper .item .content {
    padding-bottom: 1.875rem;
  }
}
.rental-general .section-route-experience .wrapper .item .content .title {
  color: #FA541C;
  line-height: 1.4;
}
.rental-general .section-route-experience .wrapper .item .content .title {
  font-size: 1.125rem;
}
@media only screen and (min-width: 64rem) {
  .rental-general .section-route-experience .wrapper .item .content .title {
    font-size: 1.25rem;
  }
}
.rental-general .section-route-experience .wrapper .item .content .desc {
  flex: auto;
  color: #555555;
}
.rental-general .rental-why-choose {
  order: 1;
}
.rental-general .rental-policy {
  order: 2;
}
.rental-general .home-partner {
  order: 3;
}
.rental-general .home-partner {
  padding-bottom: 3.75rem;
}
@media only screen and (min-width: 64rem) {
  .rental-general .home-partner {
    padding-bottom: 1.875rem;
  }
}
@media only screen and (max-width: 33.99875rem) {
  .rental-general .home-partner .gallery.gallery-mb .swiper-pagination {
    bottom: -40px;
  }
}
.rental-general .home-bao-chi {
  padding-top: 30px;
  order: 4;
}
@media only screen and (max-width: 33.99875rem) {
  .rental-general .home-bao-chi {
    padding-bottom: 60px;
  }
  .rental-general .home-bao-chi .swiper-pagination {
    bottom: -40px !important;
  }
}
.rental-general .home-posts {
  order: 5;
}
.rental-general .section-faq {
  order: 6;
}

@keyframes mover {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}