@use 'variables' as vars;
@use 'mixins' as mixin;

// SECTION BANNER
.section-padding {
    @include mixin.media-pt(50, false, 100);
    @include mixin.media-pb(50, false, 100);
}
.about-us__banner {
    img {
        width: 100%;
    }
}

// SECTION CONTENT
.about-us__content {
    background-color: #F3FFF9;
    .wrapper {
        max-width: 80%;
        margin: 0 auto;
        @include mixin.mq-max(md){
            max-width: 100%;
        }
        .heading-title {
            color: vars.$Primary-02;
        }
        .content {
            color: #333333;
            line-height: 1.8;
            @include mixin.media-fs(16,false,18);
            @include mixin.mq-max(md){
                line-height: 1.6;
            }
        }
        .btn-main {
            margin: 40px auto 0;
            @include mixin.mq-max(md){
                margin-top: 25px;
            }
        }
    }
}

// SECTION IMAGE CONTENT
.about-content_img {
    .wrapper {
        .cell {
            &.cell-content {
                flex: 0 0 48%;
                max-width: 48%;
                @include mixin.media-pr(0,false,60);
                @include mixin.mq-max(md){
                    flex: 0 0 100%;
                    max-width: 100%;
                    padding-bottom: 30px;
                }
                .heading-title {
                    line-height: 1.3;
                    @include mixin.media-mb(20,false,35);
                    .sub-title {
                        display: block;
                        font-weight: 500;
                        color: #333333;
                        line-height: 1.4;
                        letter-spacing: 5px;
                        margin-bottom: 10px;
                        @include mixin.media-fs(17,false,20);
                    }
                }
                .content {
                    color: #333333;
                    line-height: 1.6;
                    text-align: justify;
                    @include mixin.media-fs(16,false,18);
                    p {
                        @include mixin.media-mb(15,false,20);
                    }
                }
            }
            &.cell-img {
                flex: 0 0 52%;
                max-width: 52%;
                @include mixin.mq-max(md){
                    flex: 0 0 100%;
                    max-width: 100%;
                }
                img {
                    width: 100%;
                    border-radius: 16px;
                }
            }
        }
    }
    &.reverse {
        background-color: #F3FFF9;
        .wrapper {
            flex-direction: row-reverse;
            .cell {
                &.cell-content {
                    padding-right: 0;
                    @include mixin.media-pl(0,false,40);
                    .heading-title {
                        @include mixin.media-fs(26,32,39);
                    }
                }
            }
        }
    }
}

// SECTION CONTENT - GALLERY
.about-content_gallery {
    .wrapper {
        .cell {
            &.cell-content {
                flex: 0 0 40%;
                max-width: 40%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                @include mixin.media-pr(0,false,35);
                @include mixin.mq-max(md){
                    flex: 0 0 100%;
                    max-width: 100%;
                    padding-bottom: 30px;
                }
                .heading-title {
                    @include mixin.media-fs(28,4,48);
                }
                .content {
                    font-weight: 600;
                    @include mixin.media-fs(16,false,18);
                }
            }
            &.cell-gallery {
                flex: 0 0 60%;
                max-width: 60%;
                @include mixin.mq-max(md){
                    flex: 0 0 100%;
                    max-width: 100%;
                }
                .gallery-wrapper {
                    .slider-for {
                        a {
                            border-radius: 10px;
                            overflow: hidden;
                            &:hover {
                                img {
                                    transform: scale(1.05);
                                    transition: .4s;
                                }
                            }
                            &::before {
                                content: '';
                                display: block;
                                padding-bottom: 62%;
                            }
                            img {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                border-radius: 10px;
                                object-fit: cover;
                                transform: scale(1);
                                transition: .4s;
                            }
                        }
                    }
                    .slider-nav {
                        margin-top: 5px;
                        margin-left: -5px;
                        margin-right: -5px;
                        .img-dots {
                            padding: 5px;
                            &.slick-current {
                                .img {
                                    border: 3px solid vars.$Primary-02
                                }
                            }
                            &.more {
                                .img {
                                    &::before {
                                        content: none;
                                    }
                                    a {
                                        &::before {
                                            content: '';
                                            display: block;
                                            padding-bottom: 80%;
                                        }
                                    }
                                }
                                .more-count {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                    color: vars.$white;
                                    font-weight: 700;
                                    background: #00000080;
                                    border-radius: 6px;
                                    @include mixin.media-fs(24,false,32);
                                    @include mixin.flex-center;
                                }
                            }
                            .img {
                                cursor: pointer;
                                border-radius: 6px;
                                border: 3px solid transparent;
                                &::before {
                                    content: '';
                                    display: block;
                                    padding-bottom: 80%;
                                }
                                img {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                    border-radius: 6px;
                                }
                            }
                        }
                        
                    }
                }
            }
        }
    }
}