@use 'variables' as vars;
@use 'mixins' as mixin;

// BANNER
.car-rental__banner {
    img {
        width: 100%;
    }
}

// LISTS CAR
.car-rental__lists {
    .heading-title {
        max-width: 62%;
        margin-left: auto;
        margin-right: auto;
        @include mixin.media-mb(30,false,60);
        @include mixin.mq-max(md){
            max-width: 80%;
        }
        @include mixin.mq-max(sm){
            max-width: 100%;
        }
    }
    .wrapper {
        gap: 30px;
        @include mixin.mq-max(md){
            gap: 15px;    
        }
        @include mixin.mq-max(md){
            gap: 10px;    
        }
        .inner {
            width: calc(100% / 3 - 20px);
            background-color: vars.$white;
            border-radius: 16px;
            box-shadow: 0px 4px 16px 0px #0000001A;
            padding: 20px;
            flex-direction: column;
            @include mixin.mq-max(md){
                width: calc(50% - 15px);
            }
            @include mixin.mq-max(sm){
                padding: 10px;
                width: calc(50% - 5px);
            }
            > .item {
                flex-direction: column;
                flex: auto;
                .cover {
                    .gallery-wrapper {
                        .gallery {
                            .block {
                                &::before {
                                    content: '';
                                    display: block;
                                    padding-bottom: 70%;
                                }
                                img {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                    border-radius: 8px;
                                    cursor: pointer;
                                }
                            }
                            &.slider-for {

                            }
                            &.slider-nav {
                                @include mixin.media-mt(15,false,20);
                                @include mixin.mq-max(md){
                                    display: none;
                                }
                                .slick-list {
                                    margin-left: -10px;
                                }
                                .slick-track {
                                    gap: 15px;
                                }
                                .block {
                                    &::before {
                                        padding-bottom: 90%;
                                    }
                                }
                            }
                        }
                        .slick-track {
                            display: flex;
                        }
                    }
                }
                .content {
                    flex: auto;
                    @include mixin.media-pt(15,false,30);
                    > .title {
                        margin-bottom: 15px;
                        line-height: 1.6;
                        min-height: 58px;
                        @include mixin.media-fs(16,false,18);
                        a {
                            color: vars.$black;
                            &:hover {
                                color: vars.$Primary-01;
                            }
                        }
                    }
                    .tag-car {
                        display: flex;
                        list-style-type: none;
                        padding: 0;
                        margin: 0;
                        gap: 20px;
                        @include mixin.mq-max(md){
                            gap: 8px;
                        }
                        .item {
                            display: block;
                            border: 1px solid vars.$Primary-02;
                            border-radius: 14px;
                            padding: 5px 20px;
                            gap: 8px;
                            @include mixin.flex-center;
                            @include mixin.mq-max(md){
                                border-radius: 10px;
                                padding: 5px 6px;
                                font-size: 12px;
                                gap: 6px;
                            }
                            img {
                                object-fit: contain;
                                @include mixin.box(24);
                                @include mixin.mq-max(md){
                                    @include mixin.box(14);
                                }
                            }
                            span {
                                color: vars.$Primary-02;
                                font-weight: 600;
                            }
                        }
                    }
                    .car-utilities {
                        margin-top: 15px;
                        color: vars.$Primary-01;
                        .title {
                            font-weight: 700;
                            text-decoration: underline;
                            margin-bottom: 5px;
                        }
                        .desc {
                            list-style-type: disc;
                            margin-bottom: 5px;
                            @include mixin.media-pl(20,false,30);
                            @include mixin.mq-max(md){
                                font-size: 11px;
                            }
                            ul {
                                padding-left: 0;
                                margin: 0;
                            }
                        }
                    }
                }
                .contact {
                    @include mixin.media-pt(15,false,30);
                    @include mixin.mq-max(md){
                        flex-wrap: wrap;
                    }
                    .item-cta {
                        @include mixin.mq-max(md){
                            width: 100%;
                        }
                        .text {
                            font-size: 14px;
                            color: #333333;
                            font-weight: 500;
                            @include mixin.mq-max(md){
                                font-size: 10px;
                            }
                        }
                        .hotline {
                            font-weight: 600;
                            margin: 0 10px;
                            @include mixin.mq-max(md){
                                margin-left: 0;
                                margin-right: 5px;
                                font-size: 10px;
                            }
                            i {
                                transform: rotate(30deg);
                                margin-right: 5px;
                            }
                        }
                        .zalo {
                            img {
                                width: 32px;
                                @include mixin.mq-max(md){
                                    width: 22px;
                                }
                                @include mixin.mq-max(md){
                                    width: 18px;
                                }
                            }
                        }
                    }
                    .btn-main {
                        margin-top: 0;
                        @include mixin.mq-max(md){
                            width: 100%;
                            margin-top: 10px;
                        }
                    }
                }
            }           
        }
    }
}
// PROMOTION + VIDEO
.car-rental__promotion {
    .wrapper {
        .cell {
            &.col-video {
                flex: 1;
                @include mixin.mq-max(md){
                    flex: 0 0 100%;
                }
                .video-btn {
                    img {
                        border-top-left-radius: 8px;
                        border-bottom-left-radius: 8px;
                        @include mixin.mq-max(md){
                            border-bottom-left-radius: 0;
                            border-top-right-radius: 8px;;
                        }
                    }
                }
                .ic-play {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    border: 5px solid vars.$white;
                    border-radius: 50%;
                    color: vars.$white;
                    z-index: 2;
                    @include mixin.flex-center;
                    @include mixin.media-fs(26,false,32);
                    @include mixin.box(70);
                    @include mixin.mq-max(){
                        @include mixin.box(45);
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        top: auto;
                        left: auto;
                        background: rgba(255, 255, 255, 0.5215686275);
                        border-radius: 50%;
                        animation: pulse 1.5s infinite;
                        z-index: -1;
                        border-bottom-left-radius: 8px;
                        @include mixin.box(82);
                        @include mixin.mq-max(){
                            @include mixin.box(57);
                        }
                    }
                }
                .content {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-end;
                    padding: 20px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 60%;
                    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 11.17%, rgba(0, 0, 0, 0.4) 63.01%);
                    border-bottom-left-radius: 8px;
                    @include mixin.mq-max(md){
                        border-bottom-left-radius: 0px;
                    }
                    .tag {
                        background-color: #F5222D;
                        height: 34px;
                        padding: 0 16px;
                        border-radius: 4px;
                        color: vars.$white;
                        text-transform: capitalize;
                        font-weight: 400;
                        @include mixin.flex-center;
                        @include mixin.media-fs(16,false,18);
                    }
                    .desc {
                        margin-top: 10px;
                        color: vars.$white;
                        font-weight: 600;
                        line-height: 1.3;
                        @include mixin.line-clamp(3);
                        @include mixin.media-fs(20,23,26);
                    }

                }
            }
            &.col-promotion {
                flex: 0 0 52%;
                border-top-right-radius: 16px;
                border-bottom-right-radius: 16px;
                @include mixin.mq-max(md){
                    flex: 0 0 100%;
                    border-top-right-radius: 0;
                    border-bottom-left-radius: 8px;
                    border-bottom-right-radius: 8px;
                }
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #1aaf62c9;
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px;
                    @include mixin.mq-max(md){
                        border-top-right-radius: 0;
                        border-bottom-left-radius: 8px;
                    }
                }
                .inner {
                    height: 100%;
                    flex-direction: column;
                    padding: 30px 60px;
                    @include mixin.flex-center;
                    @include mixin.mq-max(md){
                        padding: 30px;
                    }
                    @include mixin.mq-max(sm){
                        padding: 30px 15px;
                    }
                    .heading-title {
                        font-weight: 900;
                        color: vars.$Primary-02;
                        -webkit-text-stroke: 1px vars.$white;
                        @include mixin.media-fs(24,30,36);
                    }
                    #countdown-wrapper {
                        #countdown {
                            gap: 40px;
                            @include mixin.flex-center;
                            @include mixin.mq-max(md){
                                gap: 30px;
                            }
                            .countdown-item {
                                position: relative;
                                text-align: center;
                                &::after {
                                    content: ':';
                                    position: absolute;
                                    font-weight: 700;
                                    color: vars.$white;
                                    right: -48%;
                                    top: 32px;
                                    line-height: normal;
                                    transform: translate(-50%, -50%);
                                    @include mixin.media-fs(22,26,32);
                                    @include mixin.mq-max(md){
                                        top: 32%;
                                        right: -40%;
                                    }
                                }
                                &:last-child {
                                    &::after {
                                        content: none;
                                    }
                                }
                                span {
                                    font-weight: 700;
                                    color: vars.$Primary-02;
                                    border-radius: 50%;
                                    background-color: vars.$white;
                                    @include mixin.flex-center;
                                    @include mixin.box(64);
                                    @include mixin.media-fs(20,24,30);
                                    @include mixin.mq-max(md){
                                        @include mixin.box(56);
                                    }
                                }
                                div {
                                    padding-top: 5px;
                                    font-weight: 500;
                                    color: vars.$white;
                                    @include mixin.media-fs(16,false,20);
                                }
                            }
                        }
                    }
                    .btn-main {
                        text-transform: uppercase;
                        height: 46px;
                        @include mixin.media-mt(20,false,30);
                        @include mixin.media-fs(18,false,22);
                        &:hover {
                            background-color: vars.$Primary-03;
                        }
                        @include mixin.mq-max(md){
                            height: 40px;
                        }
                    }
                }
            }
        }
    }
}
@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 0.7;
    }
    50% {
        transform: scale(1.2);
        opacity: 0.3;
    }
    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}
// 
.rental-general {
    display: flex;
    flex-direction: column;
    .heading-group {
        img {
            height: 30px;
        }
    }
    .section-route-experience {
        background-color: #F3FFF9;
        .heading-title {
            @include mixin.mq-max(sm){
                font-size: 23px;
            }
        }
        .wrapper {
            list-style-type: none;
            padding: 0;
            margin: 35px 0 0;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 20px;
            @include mixin.mq-max(md){
                grid-template-columns: repeat(2, 1fr);
                gap: 30px 20px;
                margin: 40px 0 0;
            }
            @include mixin.mq-max(sm){
                grid-template-columns: repeat(1, 1fr);
                gap: 20px;
            }
            .item {
                padding: 15px;
                flex-direction: column;
                background-color: vars.$white;
                border: 2px solid #EAEAEA;
                border-radius: 16px;
                .cover {
                    border-radius: 4px;
                    cursor: pointer;
                    .res {
                        aspect-ratio: unset;
                        padding-top: 62%;
                        img {
                            border-radius: 4px;
                        }
                    }
                }
                .content {
                    flex-direction: column;
                    flex: auto;
                    justify-content: space-between;
                    @include mixin.media-pl(10,false,12);
                    @include mixin.media-pr(10,false,12);
                    @include mixin.media-pt(20,false,30);
                    @include mixin.media-pb(20,false,30);
                    .title {
                        color: vars.$Primary-02;
                        line-height: 1.4;
                        @include mixin.media-fs(18,false,20);
                    }
                    .desc {
                        flex: auto;
                        color: #555555;
                    }
                }
            }
        }
    }
    .rental-why-choose {
        order: 1;
    }
    .rental-policy{
        order: 2;
    }
    .home-partner {
        order: 3;
        @include mixin.media-pb(60,false,30);
        @include mixin.mq-max(sm){
            .gallery.gallery-mb .swiper-pagination {
                bottom: -40px;
            }
        }
    }
    .home-bao-chi {
        padding-top: 30px;
        order: 4;
        @include mixin.mq-max(sm){
            padding-bottom: 60px;
            .swiper-pagination {
                bottom: -40px !important;
            }
        }
    }
    .home-posts {
        order: 5;
    }
    .section-faq {
        order: 6;
    }
}
@keyframes mover {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
}