@use 'variables' as vars;
@use 'mixins' as mixin;

// BANNER
.hotel-banner {
    &.section-padding {
        padding-bottom: 0;
        @include mixin.media-pt(30,false,50);
    }
    img {
        width: 100%;
    }
}
// HOME USP
.home-usp {
    z-index: 1;
    @include mixin.media-mt(-20,-80,false);
    @include mixin.mq-max(sm){
        padding: 0 10px;
    }
    .container {
        padding-left: 0;
        padding-right: 0;
        .box {
            background-color: vars.$white;
            border-top-left-radius: 40px;
            border-top-right-radius: 40px;
            // transform: translateY(-80px);
            padding-left: 30px;
            padding-right: 30px;
            @include mixin.mq-max(md){
                padding-left: 10px;
                padding-right: 10px;
            }
            @include mixin.mq-max(sm){
                padding-top: 20px;
                border-top-left-radius: 24px;
                border-top-right-radius: 24px;
            }
            .wrapper {
                list-style-type: none;
                margin: 0;
                padding: 0;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 30px;
                @include mixin.mq-max(md){
                    grid-template-columns: repeat(2, 1fr);
                    gap: 20px;
                }
                @include mixin.mq-max(sm){
                    gap: 12px;
                }
                .item {
                    border: 1px solid #FA541C1A;
                    border-radius: 16px;
                    padding: 15px 30px;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    @include mixin.mq-max(md){
                        padding: 12px;
                        justify-content: center;
                        gap: 6px;
                    }
                    @include mixin.mq-max(sm){
                        padding: 10px 6px;
                        justify-content: flex-start;
                        gap: 10px;
                    }
                    img {
                        border-radius: 50%;
                        object-fit: cover;
                        @include mixin.box(70);
                        @include mixin.mq-max(md){
                            @include mixin.box(60);
                        }
                        @include mixin.mq-max(sm){
                            @include mixin.box(55);
                        }
                    }
                    .title {
                        margin-bottom: 0;
                        text-align: center;
                        color: vars.$Primary-02;
                        font-weight: 700;
                        line-height: 1.5;
                        @include mixin.media-fs(14,18,20);
                        @include mixin.mq-max(sm){
                            text-align: left;
                        }
                    }
                }
            }
        }
        
    }
}
// HOME SEARCH
.hotel-search {
    background: linear-gradient(180deg, #FFFFFF 43.02%, #D3FFE8 104.77%);
    padding-top: 0;
    .hotel_archive_search_form-inner {
        form {
            display: flex;
            padding: 20px 15px;
            align-items: center;
            gap: 16px;
            flex-shrink: 0;
            border-radius: 8px;
            @include mixin.mq-max(md){
                flex-wrap: wrap;
                padding: 20px 12px;
            }
            .hotel_archive_search-col {
                position: relative;
                width: calc(85% / 3);
                @include mixin.mq-max(md){
                    width: 100%;
                }
                input, select {
                    width: 100%;
                    height: 52px;
                    border-radius: 4px;
                    border: 1px solid #88888833;
                    background: vars.$white;
                    font-weight: 500;
                    padding-left: 45px;
                    display: block;
                    appearance: none;
                    @include mixin.media-fs(14,false,16);
                    &::placeholder {
                        color: vars.$black;
                    }
                    &[type="submit"] {
                        border-radius: 8px;
                        border: 1px solid  #FA541C;
                        background: #FA541C;
                        padding-left: 20px;
                        color: vars.$white;
                    }
                }
                select {
                    cursor: pointer;
                }
                &.ic-submit {
                    width: 15%;
                    @include mixin.mq-max(md){
                        width: 100%;
                    }
                    i {
                        padding-right: 5px;
                        color: vars.$white;
                        @include mixin.mq-max(md){
                            display: none;
                        }
                    }
                }
                .hotel_filter-lable-icon {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 20px;
                    color: vars.$Primary-01;
                }
            }
            
        }
    }
}
// BOOKING
.home-booking {
    padding-top: 30px;
    padding-bottom: 100px;
    background: linear-gradient(180deg, #FFFFFF 43.02%, #D3FFE8 104.77%);
    .heading-title {
        @include mixin.media-mb(20,false,30);
    }
    img {
        width: 100%;
    }
}
// DEAL HOT
// .home-deal {
//     @include mixin.media-pt(30,50,80);
//     @include mixin.media-pb(30,50,100);
//     .heading-title {
//         @include mixin.media-mb(30,false,40);
//     }
//     .wrapper {
//         display: grid;
//         grid-template-columns: repeat(3, 1fr);
//         list-style-type: none;
//         padding: 0;
//         margin: 20px;
//         @include mixin.mq-max(md){
//             grid-template-columns: repeat(2, 1fr);
//             margin: 0;
//             gap: 0px 20px;
//         }
//         .item {
//             &:hover {
//                 .cover {
//                     img {
//                         transform: scale(1.04);
//                         transition: .4s;
//                     }
//                 }
//             }
//             .cover {
//                 border-radius: 10px;
//                 &::before {
//                    content: '';
//                    display: block;
//                    padding-bottom: 70%;
//                 }
//                 img {
//                     border-radius: 10px;
//                     transform: scale(1);
//                     transition: .4s;
//                     @include mixin.absolute-full;
//                 }
//             }
//             .content {
//                 max-width: 95%;
//                 width: 100%;
//                 margin: 0 auto;
//                 padding: 15px 15px 20px;
//                 background-color: vars.$white;
//                 border-radius: 8px;
//                 box-shadow: 0px 4px 20px 0px #00000026;
//                 transform: translateY(-30px);
//                 flex: auto;
//                 .title {
//                     margin-bottom: 10px;
//                     line-height: 1.4;
//                     @include mixin.media-fs(18,false,20);
//                     a {
//                         @include mixin.line-clamp(2);
//                         &:hover {
//                             color: vars.$Primary-01;
//                         }
//                     }
//                 }
//                 .rating {
//                     .text {
//                         font-size: 14px;
//                         color: vars.$Primary-01;
//                         font-weight: 400;
//                     }
//                     .star {
//                         i {
//                             color: #FDD835;
//                         }
//                     }
//                 }
//                 .address {
//                     font-size: 14px;
//                     margin-top: 10px;
//                 }
//                 .group-price {
//                     margin-top: 10px;
//                     @include mixin.mq-max(md){
//                         flex-direction: column;
//                         align-items: flex-start;
//                     }
//                     .price-sale {
//                         color: #8C8C8C;
//                         text-decoration: line-through;                        
//                     }
//                     .price-main {
//                         color: #FF0000;
//                         font-weight: 700;
//                         line-height: 1.4;
//                         @include mixin.media-fs(20,24,28);
//                     }
//                 }
//             }
//         }
//     }
//     .btn-main {
//         height: 48px;
//         @include mixin.media-fs(18,21,24);
//         @include mixin.mq-max(md) {
//             height: 45px;
//         }
//         @include mixin.mq-max(sm) {
//             height: 40px;
//         }
//     }
// }
.home-deal {
    .heading-title {
        @include mixin.media-mb(30,false,40);
    }
    .wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        list-style-type: none;
        padding: 0;
        margin: 20px;
        @include mixin.mq-max(md){
            grid-template-columns: repeat(2, 1fr);
            margin: 0;
            gap: 20px;
        }
        .item {
            &:hover {
                .cover {
                    img {
                        transform: scale(1.04);
                        transition: .4s;
                    }
                }
            }
            .cover {
                border-radius: 10px;
                &::before {
                   content: '';
                   display: block;
                   padding-bottom: 70%;
                }
                img {
                    border-radius: 10px;
                    transform: scale(1);
                    transition: .4s;
                    @include mixin.absolute-full;
                }
                .bage {
                    position: absolute;
                    display: block;
                    text-align: center;
                    background: #F5222D;
                    color: #fff;
                    font-weight: 500;
                    font-size: 12px;
                    top: 20px;
                    right: -36px;
                    width: 140px;
                    transform: rotateZ(45deg);
                    z-index: 1;
                }
            }
            .content {
                max-width: 95%;
                width: 100%;
                margin: 0 auto;
                padding: 15px 15px 20px;
                background-color: vars.$white;
                border-radius: 8px;
                box-shadow: 0px 4px 20px 0px #00000026;
                transform: translateY(-30px);
                flex: auto;
                @include mixin.mq-max(md){
                    max-width: 100%;
                    padding: 15px 8px;
                    transform: translateY(-10px);
                }
                .title {
                    margin-bottom: 10px;
                    line-height: 1.4;
                    flex: auto;
                    @include mixin.media-fs(16,false,20);
                    a {
                        @include mixin.line-clamp(2);
                        @include mixin.mq-max(md){
                            color: vars.$black;
                        }
                        &:hover {
                            color: vars.$Primary-01;
                        }
                    }
                }
                .combo-text {
                    line-height: normal;
                    @include mixin.media-fs(12,false,14);
                }
                .rating {
                    .text {
                        color: vars.$Primary-01;
                        font-weight: 400;
                        @include mixin.media-fs(12,false,14);
                    }
                    .star {
                        i {
                            color: #FDD835;
                            @include mixin.mq-max(md){
                                font-size: 9px;
                            }
                        }
                    }
                }
                .address {
                    font-size: 14px;
                    margin-top: 10px;
                    @include mixin.mq-max(md){
                        display: none;
                    }
                }
                .group-price {
                    margin-top: 10px;
                    @include mixin.mq-max(md){
                        align-items: flex-end;
                    }
                    .price-sale {
                        color: #8C8C8C;
                        text-decoration: line-through;          
                        @include mixin.mq-max(md){
                            font-size: 10px;
                        }              
                    }
                    .price-main {
                        color: #FF0000;
                        font-weight: 700;
                        line-height: 1.4;
                        @include mixin.media-fs(20,24,28);
                    }
                }
            }
        }
    }
    .btn-main {
        height: 48px;
        @include mixin.media-fs(18,21,24);
        @include mixin.mq-max(md) {
            height: 45px;
        }
        @include mixin.mq-max(sm) {
            height: 40px;
        }
    }
}
// HOTEL POPULAR
.home-popular {
    // @include mixin.media-pt(30,false,100);
    // @include mixin.media-pb(30,false,100);
    .wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        list-style-type: none;
        padding: 0;
        @include mixin.mq-max(md){
            grid-template-columns: repeat(2, 1fr);
            gap: 15px;
        }
        .item {
            padding: 15px 15px 25px;
            background-color: vars.$white;
            box-shadow: 0px 4px 16px 0px #0000001A;
            border-radius: 16px;
            display: flex;
            flex-direction: column;
            @include mixin.mq-max(md){
                padding: 8px 8px 10px;
            }
            &:hover {
                .cover {
                    &::after {
                        opacity: 1;
                    }
                    .img {
                        img {
                            transform: scale(1.04);
                            transition: .4s;
                        }
                    }
                }
            }
            .cover {
                border-radius: 8px;
                &::after, &::before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(180deg, rgba(1, 40, 6, 0) 35.5%, #012806 100%);
                    border-radius: 8px;
                    transition: .4s;
                    opacity: 0;
                    transition: opacity 0.4s ease;
                }
                &::before {
                    background: linear-gradient(180deg, rgba(1, 40, 6, 0) 35.5%, rgba(1, 40, 6, 0.5) 100%);
                    opacity: 1;
                }
                .img {
                    border-radius: 8px;
                    overflow: hidden;
                    &::before {
                        content: '';
                        display: block;
                        padding-bottom: 60%;
                        @include mixin.mq-max(md){
                            padding-bottom: 70%;
                        }
                    }
                    img {
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border-radius: 8px;
                        transform: scale(1);
                        transition: .4s;
                    }
                }
                .title {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 100%;
                    margin-bottom: 0;
                    text-align: center;
                    padding: 0;
                    color: vars.$white;
                    z-index: 1;
                    line-height: 1.5;
                    @include mixin.media-fs(20,false,32);
                    span {
                        display: block;
                        line-height: 1.4;
                        @include mixin.media-fs(20,22,24);
                    }
                }
            }
            .tag-popular {
                top: 30px;
                left: 5px;
                background-color: vars.$Primary-02;
                color: vars.$white;
                font-weight: 600;
                line-height: 26px;
                padding: 4px 15px;
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
                @include mixin.mq-max(md){
                    font-size: 12px;
                    top: 15px;
                    line-height: 22px;
                    padding: 2px 15px;
                }
                &::after {
                    content: '';
                    position: absolute;
                    bottom: -10px;
                    left: 1px;
                    border-left: 6px solid transparent;
                    border-right: 6px solid #AD2102;
                    border-bottom: 6px solid transparent;
                    border-top: 6px solid #AD2102;
                }
            }
        }
    }
}

// PROMOTION + VIDEO
.car-rental__promotion {
    .wrapper {
        .cell {
            &.col-video {
                flex: 1;
                @include mixin.mq-max(md){
                    flex: 0 0 100%;
                }
                .video-btn {
                    img {
                        border-top-left-radius: 8px;
                        border-bottom-left-radius: 8px;
                        @include mixin.mq-max(md){
                            border-bottom-left-radius: 0;
                            border-top-right-radius: 8px;;
                        }
                    }
                }
                .ic-play {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    border: 5px solid vars.$white;
                    border-radius: 50%;
                    color: vars.$white;
                    z-index: 2;
                    @include mixin.flex-center;
                    @include mixin.media-fs(26,false,32);
                    @include mixin.box(70);
                    @include mixin.mq-max(){
                        @include mixin.box(45);
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        top: auto;
                        left: auto;
                        background: rgba(255, 255, 255, 0.5215686275);
                        border-radius: 50%;
                        animation: pulse 1.5s infinite;
                        z-index: -1;
                        border-bottom-left-radius: 8px;
                        @include mixin.box(82);
                        @include mixin.mq-max(){
                            @include mixin.box(57);
                        }
                    }
                }
                .content {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-end;
                    padding: 20px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 60%;
                    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 11.17%, rgba(0, 0, 0, 0.4) 63.01%);
                    border-bottom-left-radius: 8px;
                    @include mixin.mq-max(md){
                        border-bottom-left-radius: 0px;
                    }
                    .tag {
                        background-color: #F5222D;
                        height: 34px;
                        padding: 0 16px;
                        border-radius: 4px;
                        color: vars.$white;
                        text-transform: capitalize;
                        font-weight: 400;
                        @include mixin.flex-center;
                        @include mixin.media-fs(16,false,18);
                    }
                    .desc {
                        margin-top: 10px;
                        color: vars.$white;
                        font-weight: 600;
                        line-height: 1.3;
                        @include mixin.line-clamp(3);
                        @include mixin.media-fs(20,23,26);
                    }

                }
            }
            &.col-promotion {
                flex: 0 0 52%;
                border-top-right-radius: 16px;
                border-bottom-right-radius: 16px;
                @include mixin.mq-max(md){
                    flex: 0 0 100%;
                    border-top-right-radius: 0;
                    border-bottom-left-radius: 8px;
                    border-bottom-right-radius: 8px;
                }
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #1aaf62c9;
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px;
                    @include mixin.mq-max(md){
                        border-top-right-radius: 0;
                        border-bottom-left-radius: 8px;
                    }
                }
                .inner {
                    height: 100%;
                    flex-direction: column;
                    padding: 30px 60px;
                    @include mixin.flex-center;
                    @include mixin.mq-max(md){
                        padding: 30px;
                    }
                    @include mixin.mq-max(sm){
                        padding: 30px 15px;
                    }
                    .heading-title {
                        font-weight: 900;
                        color: vars.$Primary-02;
                        -webkit-text-stroke: 1px vars.$white;
                        @include mixin.media-fs(24,30,36);
                    }
                    #countdown-wrapper {
                        #countdown {
                            gap: 40px;
                            @include mixin.flex-center;
                            @include mixin.mq-max(md){
                                gap: 30px;
                            }
                            .countdown-item {
                                position: relative;
                                text-align: center;
                                &::after {
                                    content: ':';
                                    position: absolute;
                                    font-weight: 700;
                                    color: vars.$white;
                                    right: -48%;
                                    top: 32px;
                                    line-height: normal;
                                    transform: translate(-50%, -50%);
                                    @include mixin.media-fs(22,26,32);
                                    @include mixin.mq-max(md){
                                        top: 32%;
                                        right: -40%;
                                    }
                                }
                                &:last-child {
                                    &::after {
                                        content: none;
                                    }
                                }
                                span {
                                    font-weight: 700;
                                    color: vars.$Primary-02;
                                    border-radius: 50%;
                                    background-color: vars.$white;
                                    @include mixin.flex-center;
                                    @include mixin.box(64);
                                    @include mixin.media-fs(20,24,30);
                                    @include mixin.mq-max(md){
                                        @include mixin.box(56);
                                    }
                                }
                                div {
                                    padding-top: 5px;
                                    font-weight: 500;
                                    color: vars.$white;
                                    @include mixin.media-fs(16,false,20);
                                }
                            }
                        }
                    }
                    .btn-main {
                        text-transform: uppercase;
                        height: 46px;
                        @include mixin.media-mt(20,false,30);
                        @include mixin.media-fs(18,false,22);
                        &:hover {
                            background-color: vars.$Primary-03;
                        }
                        @include mixin.mq-max(md){
                            height: 40px;
                        }
                    }
                }
            }
        }
    }
}
@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 0.7;
    }
    50% {
        transform: scale(1.2);
        opacity: 0.3;
    }
    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}
.popup-content {
    padding: 0;
    @include mixin.mq-max(md){
        padding: 10px;
    }
    .sidebar-form {
        .wrapper {
            padding: 0;
        }
    }
    .hotel-form-title {
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
        color: #fff;
        margin-bottom: 0;
        background-color: vars.$Primary-01;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        padding: 10px;
    }
    .single_tour_sidebar-form-inner {
        padding: 24px 13px 24px 13px;
        background: #E6F6EE;
        border-radius: 0 0 8px 8px;
        .wpcf7-form-control {
            width: 100%;
            height: 32px;
            padding: 5px 12px !important;
            font-size: 14px;
            color: #000;
            border: 1px solid #D9D9D9;
            &::placeholder {
                color: #d9d9d9;
            }
            &[type="date"]::before {
                color: #d9d9d9;
            }
            &.wpcf7-radio {
                display: flex;
                border: none;
                padding-left: 0 !important;
                .wpcf7-list-item {
                    display: flex;
                    &.first {
                        margin-left: 0;
                    }
                    input {
                        width: auto;
                        height: auto;
                        margin-bottom: 0;
                    }
                    .wpcf7-list-item-label {
                        padding-left: 5px;
                    }
                }
            }
        }
        .wpcf7-form-control-wrap {
            display: block;
            margin: 0 0 20px 0;
        }
        label {
            color: #000;
            font-size: 14px;
        }
        .form-row p {
            display: flex;
            flex-wrap: nowrap;
            gap: 15px;
            justify-content: space-between;
            margin: 0 !important;
        }
        .wpcf7-textarea.wpcf7-form-control {
            max-height: 60px;
            height: 100%;
            margin-bottom: 0;
        }
        .form-row {
            margin-bottom: 0 !important;
        }
        span.wpcf7-spinner, form br  {
            display: none;
        }
        input.wpcf7-form-control.wpcf7-submit {
            display: flex;
            font-size: 16px;
            padding: 10px 20px!important;
            margin: auto;
            align-items: center;
            justify-content: center;
            background: transparent;
            border: 1px solid orange;
            font-weight: 700;
            color: #fff;
            background-color: orange;
        }
        .wpcf7 form > p{
            margin-bottom: 0 !important;
        }
        form.wpcf7-form {
            label span.wpcf7-not-valid-tip {
                position: absolute;
                font-size: 10px !important;
                width: 100% !important;
                display: block;
                white-space: pre;
                color: red !important;
                margin: 0 !important;
            }
            .form-row {
                margin: 0 -5px;
                display: flex;
                @include mixin.mq-max(md){
                    gap: 5px;
                }
                label {
                    width: 50%;
                    padding: 0 5px;
                    @include mixin.mq-max(md){
                        width: 100%;
                        padding: 0;
                    }
                }
            }
            input {
                margin-bottom: 0;
            }
        }
    }
}
// HOME CAR RENTAL
.home-car_rental {
    background-color: #F3FFF9;
    @include mixin.media-pt(30,50,80);
    @include mixin.media-pb(30,50,80);
    .group-title {
        @include mixin.media-mb(30,false,50);
        .heading-title {
            margin-bottom: 5px;
        }
        .desc {
            max-width: 620px;
            margin: 0 auto;
        }
    }
    .wrapper {
        @include mixin.media-mb(50,false,100);
        @include mixin.mq-max(md){
            flex-direction: column-reverse;
        }
        &:last-child {
            margin-bottom: 0;
        }
        &:nth-child(odd){
            flex-direction: row-reverse;
            .cell-img {
                @include mixin.media-pr(0,false,40);
            }
            .cell-content {
                padding-right: 0;
                @include mixin.mq-max(md){
                    padding-top: 0;
                    padding-bottom: 30px;
                }
            }
        }
        .cell {
            flex: 0 0 50%;
            @include mixin.mq-max(md){
                flex: 0 0 100%;
            }
            &.cell-img {
                img {
                    border-radius: 16px;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            &.cell-content {
                @include mixin.media-pr(0,false,40);
                @include mixin.mq-max(md){
                    padding-top: 30px;
                }
                .group {
                    .heading-title {
                        margin-bottom: 10px;
                        @include mixin.media-fs(20,26,32);
                    }
                    .desc {
                        color: vars.$Primary-02;
                        font-weight: 600;
                        line-height: 1.4;
                        @include mixin.media-fs(18,20,24);
                        ul {
                            margin-top: 0;
                            @include mixin.media-pl(25,false,35);
                        }
                    }
                }
                .content {
                    line-height: 1.6;
                    @include mixin.media-fs(16,false,18);
                    @include mixin.mq-max(md){
                        line-height: 1.8
                    }
                    p {
                        @include mixin.media-mb(15,false,30);
                    }
                }
                .btn-main {
                    width: 100%;
                    height: 58px;
                    border-radius: 8px;
                    @include mixin.media-fs(18,21,24);
                    @include mixin.mq-max(md){
                        height: 45px;
                    }
                    @include mixin.mq-max(md){
                        height: 42px;
                    }
                }
            }
        }
    }
}

.home-partner {
    background-color: #F3FFF9;
}