@use "variables" as vars;
@use "mixins" as mixin;

// SECTION BANNER
.route-banner {
  background-color: #fbebe1;
  &.banner-custom {
    .route-banner-wrapper {
      .route-banner-cta {
        @include mixin.mq-min(xl) {
          bottom: 20px;
        }
        @include mixin.mq-max(sm) {
          top: 59%;
        }
      }
    }
  }
  &-wrapper {
    max-width: 1920px;
    margin: 0 auto;
    picture {
      img {
        width: 100%;
        object-fit: cover;
      }
    }
    .route-banner-cta {
      position: absolute;
      bottom: 50px;
      left: 55%;
      transform: translateX(-50%);
      width: 90%;
      padding: 0;
      @include mixin.mq-min(xl) {
        bottom: 35px;
        left: 57%;
      }
      @include mixin.mq-min(xxl) {
        bottom: 50px;
        left: 55%;
      }
      @include mixin.mq-max(sm) {
        bottom: unset;
        top: 53%;
        left: 57%;
      }
      .btn-main {
        margin-top: 0;
      }
    }
  }
  .wrapper {
    padding: 100px 0;
    width: 60%;
    @include mixin.mq-max(md) {
      padding: 60px 0;
      width: 100%;
    }
    @include mixin.mq-max(sm) {
      padding: 30px 5px 60px;
    }
    .cell-content {
      .heading-title {
        line-height: 1.4;
        color: vars.$Primary-02;
        @include mixin.media-fs(36, 40, 62);
        @include mixin.mq-max(sm) {
          margin-bottom: 0;
        }
      }
      .group-content {
        margin: 20px 0 30px;
        @include mixin.mq-max(sm) {
          margin: 10px 0;
        }
        .text-dancing {
          font-weight: 600;
          color: vars.$Primary-01;
          line-height: normal;
          transform: rotate(-8deg);
          font-family: vars.$dancing-font;
          margin-bottom: 15px;
          display: inline-block;
          @include mixin.media-fs(18, 26, 30);
        }
        .content {
          font-weight: 500;
          color: vars.$Primary-02;
          line-height: 1.4;
          @include mixin.media-fs(16, 22, 26);
        }
      }
      .btn-main {
        height: 40px;
        @include mixin.media-fs(12, 16, 20);
        @include mixin.mq-max(sm) {
          margin-top: 10px;
          height: 25px;
        }
      }
    }
  }
}
@media (min-width: 1920px) {
  .route-banner-wrapper .route-banner-cta {
    left: 48%;
    bottom: 70px;
  }
  .banner-custom .route-banner-wrapper .route-banner-cta {
    bottom: 40px !important;
  }
}
// ROUTE BOOKING
.route-booking {
  background: linear-gradient(180deg, #ffffff 43.02%, #d3ffe8 104.77%);
  @include mixin.mq-max(sm) {
    padding-bottom: 20px;
  }
  .heading-title {
    @include mixin.media-mb(20, false, 30);
  }
}
// MAIN CONTENT
.route-primary {
  .main-wrapper {
    padding-bottom: 30px;
    .cell {
      &.cell-content {
        flex: 0 0 73%;
        @include mixin.media-pr(0, false, 20);
        @include mixin.mq-max(md) {
          flex: 0 0 100%;
          margin-bottom: 30px;
        }
      }
      &.cell-sidebar {
        flex: 0 0 27%;
        @include mixin.mq-max(md) {
          flex: 0 0 100%;
          .sidebar-form {
            display: none;
          }
        }
      }
    }
  }
  .banner-general-route {
    @include mixin.media-pb(40, false, 60);
    @include mixin.mq-max(md) {
      display: none;
    }
    img {
      width: 100%;
      border-radius: 24px;
    }
  }
  .home-partner {
    background-color: vars.$white;
    padding-bottom: 0;
    @include mixin.media-pt(30, false, 50);
    @include mixin.mq-max(md) {
      padding-bottom: 60px;
      .gallery.gallery-mb .swiper-pagination {
        bottom: -40px;
      }
    }
  }
  .home-bao-chi {
    @include mixin.media-pb(60, false, 80);
    @include mixin.media-pt(30, false, 50);
    .swiper-pagination {
      bottom: -50px !important;
      @include mixin.mq-max(sm) {
        bottom: -40px !important;
      }
    }
  }
  .section-route-experience {
    background-color: #f3fff9;
    &.route-tips {
      @include mixin.media-pb(30, false, 50);
      .cover {
        &:hover {
          .bg-icon {
            &::after {
              opacity: 1;
              visibility: visible;
            }
          }
        }
        .bg-icon {
          &::after {
            content: "\f302";
            font-family: vars.$awesome-font;
            font-weight: 800;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #00a651db;
            color: vars.$white;
            font-size: 70px;
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s;
            @include mixin.flex-center;
          }
        }
        .thumb-first {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          opacity: 0;
        }
      }
    }
    .wrapper {
      list-style-type: none;
      padding: 0;
      margin: 40px 0 0;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
      @include mixin.mq-max(md) {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px 20px;
        margin: 20px 0 0;
      }
      @include mixin.mq-max(sm) {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
      }
      .item {
        flex-direction: column;
        .cover {
          border-radius: 8px;
        }
        .content {
          flex-direction: column;
          flex: auto;
          justify-content: space-between;
          padding-top: 20px;
          @include mixin.media-pl(12, false, 20);
          @include mixin.media-pr(12, false, 20);
          .title {
            color: #333333;
            line-height: 1.4;
            margin-bottom: 0;
            @include mixin.media-fs(18, false, 20);
          }
          .desc {
            flex: auto;
            padding-top: 8px;
            color: #555555;
            display: none;
          }
          .btn-main {
            display: none;
          }
        }
      }
    }
  }
}
// ROUTE GALLERY
.route-gallery {
  .heading-title {
    @include mixin.media-fs(24, 28, 32);
  }
  .item {
    &:hover {
      cursor: pointer;
      .col-thumb {
        img {
          transform: scale(1.04);
          transition: 0.4s;
        }
      }
    }
    .col-thumb {
      border-radius: 8px;
      overflow: hidden;
      &::before {
        content: "";
        display: block;
      }
      img {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
        transform: scale(1);
        transition: 0.4s;
      }
    }
  }
  &__wrapper {
    margin-bottom: 12px;
    .item {
      border-radius: 8px;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          180deg,
          rgba(1, 40, 6, 0) 67.13%,
          #003606 100%
        );
        border-radius: 8px;
      }
      .col-thumb {
        &::before {
          padding-bottom: 65%;
        }
      }
      .content {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        margin-bottom: 0;
        text-align: center;
        padding: 20px 15px;
        color: #ffffff;
        z-index: 1;
        line-height: 1.5;
        font-weight: 500;
        @include mixin.media-fs(16, 18, 20);
      }
    }
  }
  &__dot {
    .slick-list {
      margin: 0 -6px;
    }
    .item {
      padding: 0 6px;
      border-radius: 8px;
      .col-thumb {
        &::before {
          padding-bottom: 95%;
        }
      }
      &.slick-current {
        &:hover {
          .col-thumb {
            img {
              transition: 0.4s;
              // filter: grayscale(0);
            }
          }
        }
        .col-thumb {
          img {
            border: 3px solid vars.$Primary-02;
            // transition: .4s;
            // filter: grayscale(1);
          }
        }
      }
    }
    &:hover {
      .slick-arrow {
        opacity: 1;
        visibility: visible;
        transition: 0.4s;
      }
    }
    .slick-arrow {
      opacity: 0;
      visibility: hidden;
      @include mixin.mq-max(md) {
        opacity: 1;
        visibility: visible;
      }
      &.slick-prev {
        left: 10px;
        @include mixin.mq-max(md) {
          left: -10px;
        }
        @include mixin.mq-max(sm) {
          left: 0px;
        }
      }
      &.slick-next {
        right: 10px;
        @include mixin.mq-max(md) {
          right: -10px;
        }
        @include mixin.mq-max(sm) {
          right: 0px;
        }
      }
    }
  }
}
// ROUTE SEAT POSITION
.content-has-table {
  table {
    border-collapse: separate !important;
    border-radius: 20px;
    border-spacing: 0px;
    line-height: 1.5;
    font-weight: 500;
    @include mixin.media-fs(14, false, 18);
    tbody {
      tr {
        &:first-child {
          td {
            padding: 15px 25px;
            background-color: vars.$Primary-01;
            color: vars.$white;
            @include mixin.mq-max(md) {
              padding: 12px 10px;
            }
            &:first-child {
              border-top-left-radius: 20px;
            }
            &:last-child {
              border-top-right-radius: 20px;
            }
          }
        }
        &:nth-child(even) {
          background-color: transparent;
        }
        &:last-child {
          td {
            &:first-child {
              border-bottom-left-radius: 20px;
            }
            &:last-child {
              border-bottom-right-radius: 20px;
            }
          }
        }
        td {
          padding: 15px;
          border: 0.5px solid #d2d2d2;
          @include mixin.mq-max(md) {
            padding: 12px 10px;
          }
        }
      }
    }
  }
}
.route-seat-position {
  @include mixin.media-pl(0, 15, 20);
  @include mixin.media-pr(0, 15, 20);
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #deffee 0%, #ffffff 60%);
    z-index: -1;
  }
  .heading-title {
    @include mixin.media-fs(24, 28, 32);
  }
  .wrapper {
    .col-diagram {
      flex: 0 0 35%;
      @include mixin.media-pr(0, false, 20);
      @include mixin.mq-max(md) {
        flex: 0 0 100%;
        margin-bottom: 30px;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .col-table {
      flex: 1;
      table {
        font-weight: 700;
        text-align: center;
        @include mixin.media-fs(14, 16, 20);
        tbody {
          background-color: transparent;
          tr {
            &:nth-child(even) {
              background-color: transparent;
            }
          }
        }
      }
      .btn-main {
        border-radius: 8px;
        width: 100%;
        height: 64px;
        @include mixin.media-fs(20, 22, 24);
        @include mixin.media-mt(20, false, 30);
        @include mixin.mq-max(md) {
          height: 54px;
        }
        @include mixin.mq-max(sm) {
          height: 42px;
        }
        &.btn-pc {
          @include mixin.mq-max(md) {
            display: none;
          }
        }
        &.btn-mobile {
          display: none;
          @include mixin.mq-max(md) {
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
}
// ROUTE SIT CAR
.route-sit-car {
  &.content-has-table {
    table {
      text-align: center;
      tr {
        &:nth-child(odd) {
          background-color: #f3fff9;
        }
        td {
          &:first-child {
            @include mixin.mq-max(sm) {
              width: 22% !important;
            }
          }
          ul {
            padding-left: 20px;
            @include mixin.mq-max(sm) {
              padding-left: 15px;
            }
            li {
              text-align: left;
              margin-bottom: 20px;
              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}
// ROUTE PICK-UP
.route-pickup {
  // background-image: url('../../resources/img/bg-diem-don.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
  @include mixin.media-pb(100, 150, 300);
  @include mixin.mq-max(sm) {
    padding-top: 0;
  }
  &__group {
    @include mixin.media-mb(20, false, 0);
    .heading-title {
      text-transform: uppercase;
      color: vars.$Primary-02;
      margin-bottom: 15px;
      @include mixin.media-fs(24, 28, 32);
    }
    .group-col {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      gap: 20px;
      @include mixin.mq-max(md) {
        gap: 30px;
      }
      .group-item {
        width: calc(50% - 10px);
        padding-left: 30px;
        @include mixin.mq-max(md) {
          width: 100%;
          padding-left: 0;
        }
        .title-location {
          display: flex;
          align-items: center;
          margin-bottom: 20px;
          color: vars.$Primary-01;
          font-weight: 600;
          line-height: 1.3;
          @include mixin.media-fs(20, 22, 24);
          i {
            margin-right: 15px;
            @include mixin.media-fs(24, 28, 32);
          }
        }
        .wrapper {
          list-style: none;
          padding-left: 20px;
          padding-right: 60px;
          position: relative;
          .item {
            position: relative;
            padding-left: 15px;
            padding-bottom: 30px;
            &:last-child {
              padding-bottom: 0;
              .line {
                height: 0;
              }
            }
            &:hover {
              transition: 0.3s;
              cursor: pointer;
              .line {
                .line-border {
                  border-color: vars.$Primary-01;
                  background-color: vars.$Primary-01;
                }
              }
              .address {
                color: vars.$Primary-01;
              }
            }
            .line {
              position: absolute;
              left: -14px;
              top: 5px;
              width: 2px;
              height: 100%;
              background-color: #333333;
              .line-border {
                // background-color: vars.$white;
                // border-radius: 50%;
                // border: 2px solid #fff;
                // box-shadow: 0 0 0 2px #333333;
                // @include mixin.box(16);
                background-color: vars.$white;
                border-radius: 50%;
                border: 2px solid #333333;
                -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
                position: absolute;
                top: 0;
                left: 50%;
                @include mixin.box(16);
              }
            }
            .address {
              color: vars.$black;
              line-height: 1.5;
              font-weight: 600;
              @include mixin.media-fs(16, 17, 18);
            }
          }
        }
      }
    }
    &:nth-child(2) {
      position: absolute;
      bottom: 300px;
      left: 0;
      width: calc(50% - 20px);
      @include mixin.mq-max(md) {
        position: relative;
        bottom: 0;
        width: 100%;
      }
      .group-col {
        .group-item {
          width: 100%;
        }
      }
    }
  }
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(220, 255, 239, 0.2) 100%
    );
  }
}
// ROUTE TICKET BOOKING
.route-ticket-booking {
  padding-top: 30px;
  .heading-title {
    color: vars.$Primary-02;
    @include mixin.media-mb(20, false, 40);
  }
  .content-toggle-wrapper {
    .custom-button {
      @include mixin.media-mt(20, 30, false);
      @include mixin.flex-center;
      img {
        width: fit-content !important;
        height: 100px;
      }
    }
    .content-route {
      max-height: none;
      overflow: hidden;
      transition: none;
      line-height: 1.6;
      &.collapsed {
        position: relative;
      }
      h2 {
        color: vars.$Primary-02;
        @include mixin.media-fs(24, 28, 32);
      }
      h3 {
        color: vars.$Primary-01;
        @include mixin.media-fs(20, 22, 24);
      }
      img {
        width: 100%;
      }
    }
    .mask {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 210px;
      left: 0;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 6.87%,
        #ffffff 90.52%
      );
      // background: linear-gradient(0deg, white, #ffffffd9, #ffffff5e, transparent, transparent);
    }
    .toggle-button {
      display: flex !important;
      flex-direction: column-reverse;
      margin-top: 10px;
      color: vars.$Primary-01;
      font-size: 16px;
      font-weight: 500;
      border: none;
      cursor: pointer;
      position: relative;
      i {
        margin-top: 10px;
        animation: mover 1s infinite alternate;
      }
      &.active {
        flex-direction: column;
        i {
          margin-top: 0;
          margin-bottom: 15px;
          &::before {
            content: "\f325";
          }
        }
      }
    }
  }
}
@keyframes mover {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}
// ROUTE MAIN CONTENT
.route-main-content {
  .group-heading {
    @include mixin.media-mb(25, 30, 40);
    .heading-title {
      margin-bottom: 10px;
      @include mixin.media-fs(24, 28, 32);
    }
    .desc {
      max-width: 80%;
      text-align: center;
      color: vars.$black;
    }
  }
  .content-route {
    max-height: none;
    overflow: hidden;
    transition: none;
    &.collapsed {
      position: relative;
    }
    h2 {
      color: vars.$Primary-02;
      @include mixin.media-fs(24, 28, 32);
    }
    h3 {
      color: vars.$Primary-01;
      @include mixin.media-fs(20, 22, 24);
    }
    img {
      width: 100%;
    }
  }
  .mask {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30%;
    left: 0;
    background: linear-gradient(
      0deg,
      white,
      #ffffffd9,
      #ffffff5e,
      transparent,
      transparent
    );
  }
  .toggle-button {
    display: block;
    margin-top: 10px;
    background: vars.$Primary-02;
    color: vars.$white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 6px;
    position: relative;
  }
}
// SECTION FORM
.route-form {
  .wrapper {
    padding: 20px;
    .group-heading {
      .heading-title {
        font-weight: 700;
        margin-bottom: 5px;
        @include mixin.media-fs(18, false, 20);
      }
    }
    form {
      input,
      select {
        width: 100%;
        height: 40px;
        border-radius: 4px;
        border: 1px solid #d2d2d2;
        margin-bottom: 12px;
        height: 36px;
      }
    }
  }
}
// SIDEBAR REVIEWS
.sidebar-reviews {
  padding-bottom: 30px;
  @include mixin.mq-max(md) {
    padding-top: 0;
  }
  .item {
    box-shadow: 0px 5px 10px 0px #0000001a;
    background-color: vars.$white;
    border: 1px solid #d2d2d2;
    border-radius: 8px;
    padding: 30px 40px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 86px;
      height: 68px;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url("../../resources/img/ic-quote-gray.png");
    }
    .top {
      font-weight: 600;
      color: #555555;
      .link {
        color: #555555;
        &:hover {
          color: vars.$Primary-01;
        }
      }
      .name {
      }
      .job {
        position: relative;
        padding-left: 20px;
        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 5px;
          background-color: #555555;
          transform: translateY(-50%);
          border-radius: 50%;
          @include mixin.box(6);
        }
      }
    }
    .rating {
      margin: 5px 0 8px;
      i {
        color: #fdd835;
      }
    }
    .cmt {
      color: #666666;
    }
  }
  .slick-arrow {
    transition: 0.4s;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #777777;
    z-index: 2;
    background-color: transparent;
    @include mixin.box(20);
    &.slick-prev {
      left: 10px;
    }
    &.slick-next {
      right: 10px;
    }
  }
}
// SIDEBAR FORM
.sidebar-form {
  background-color: #deffee;
  border: 1px solid #d2d2d2;
  border-radius: 8px;
  .wrapper {
    padding: 30px 20px 20px;
    .group-heading {
      margin-bottom: 20px;
      .heading-title {
        font-weight: 700;
        margin-bottom: 5px;
        color: vars.$Primary-02;
        @include mixin.media-fs(18, false, 20);
      }
      .desc {
        font-size: 15px;
      }
    }
    form {
      position: relative;
      label {
        font-size: 14px;
        b {
          color: #fa541c;
        }
      }
      input,
      select,
      textarea {
        width: 100%;
        height: 40px;
        border-radius: 4px;
        border: 1px solid #d2d2d2;
        margin-bottom: 12px;
        height: 38px;
        font-size: 15px;
        padding: 0 10px;
      }
      textarea {
        height: 60px;
      }
      .wpcf7-not-valid-tip {
        font-size: 14px;
        margin-top: -7px;
        margin-bottom: 5px;
      }
      input[type="submit"] {
        border-radius: 6px;
        height: 44px;
        width: fit-content;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 700;
        padding: 0 30px;
        background-color: vars.$Primary-02;
        color: vars.$white;
        margin-left: auto;
        margin-right: auto;
        @include mixin.flex-center;
        &:hover {
          background-color: vars.$Primary-01;
        }
      }
      .wpcf7-spinner {
        position: absolute;
        margin: 0;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}
// SIDEBAR BANNER PROMOTION
.sidebar-banner {
  margin-top: 30px;
  .wrapper {
    list-style-type: none;
    padding: 0;
    margin: 0;
    .item {
      @include mixin.media-mb(20, false, 30);
      &:last-child {
        margin-bottom: 0;
      }
      img {
        width: 100%;
      }
    }
  }
}
// SIDEBAR STICKY
.sidebar-sticky {
  position: sticky;
  top: 90px;
  @include mixin.mq-max(md) {
    position: relative;
    top: 0;
  }
}
