@use 'variables' as vars;
@use 'mixins' as mixin;

body.single-post {
    .section-page {
        margin-top: 30px;
        padding-bottom: 30px;
        @include mixin.mq-max(md){
            margin: 20px auto;
        }
    }
    .section-single {
        > .container {
            max-width: 1000px;
            @include mixin.mq-max(md){
                max-width: auto;
            }
            blockquote {
                border-left: 5px solid #dddddd;
                padding: 20px;
                font-style: italic;
                @include mixin.media-fs(18,false,20);
            }
            .content-post {
                @include mixin.media-pt(10,false,30);
                .heading-title {
                    line-height: 1.4;
                    text-transform: capitalize;
                    color: vars.$Primary-01;
                    margin-bottom: 10px;
                    font-weight: 700;
                    @include mixin.media-fs(24,32,42);
                }
                .meta {
                    display: flex;
                    align-items: center;
                    padding: 5px 0 20px;
                    @include mixin.mq-max(md) {
                        padding: 5px 0 15px;
                    }
                    & > div {
                        color: #828C83;
                        display: flex;
                        align-items: center;
                        line-height: 1;
                        border-right: 1px solid #E0E0E0;
                        padding-right: 10px;
                        margin-right: 10px;
                        &:last-child {
                            border-right: unset;
                            padding-right: 0;
                            margin-right: 0;
                        }
                        i {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-right: 10px;
                            color: #101210;
                            @include mixin.box(16);
                        }
                    }
                    .post-category {
                        display: block;
                        padding-left: 10px;
                        line-height: normal;
                        color: vars.$Primary-02;
                        &:first-child {
                            padding-left: 0;
                        }
                    }
                    .author {
                        padding-left: 5px;
                        color: vars.$Primary-02;
                    }
                }
                .hashtags {
                    margin-top: 20px;
                    margin-bottom: 20px;
                    .hashtag-links {
                        @include mixin.mq-max(md) {
                            display: flex;
                            align-items: center;
                            flex-flow: row wrap;
                            gap: 10px 0;
                            grid-gap: 10px 0;
                        }

                        i {
                            margin-right: 20px;
                            font-style: normal;

                            &::before {
                                content: 'Từ khoá:';
                                font-family: "Inter", sans-serif;
                                line-height: 21px;
                                font-weight: 500;
                                color: #000914;
                                @include mixin.media-fs(14);
                            }
                        }

                        a {
                            margin-right: 10px;
                            padding: 6px 12px;
                            border-radius: 4px;
                            background: #EFEFEF;
                            color: #2A3645;
                            line-height: 21px;
                            font-weight: 500;
                            @include mixin.media-fs(14);

                            &:hover {
                                background: vars.$Primary-01;
                                color: vars.$white;
                            }
                        }
                    }
                }
                article {
                    iframe {
                        width: 100%;
                    }
                }
            }
        }
    }
}
// AUTHOR
.author-box {
    padding-top: 30px;
    margin-top: 30px;
    border-top: 1px solid #ececec;
    .inner {
        @include mixin.mq-max(sm){
            flex-wrap: wrap;
            justify-content: center;
        }
        .avatar {
            img {
                border-radius: 50%;
                object-fit: contain;
                border: 1px solid #ececec;
            }
        }
        .author-content {
            width: calc(100% - 80px);
            padding-left: 20px;
            @include mixin.mq-max(sm){
                width: 100%;
                padding: 16px 0 0;
                text-align: center;
            }
            .name {
                margin-bottom: 5px;
                strong {
                    font-size: 14px;
                }
                span {
                    font-size: 17px;
                    display: block;
                }
            }
            .author-desc {
                line-height: 1.5;
                @include mixin.mq-max(sm){
                    text-align: justify;
                }
            }
        }
    }
}
// Related Posts
.section-related-post {
    @include mixin.media-mt(30,false,60);
    .container {
        @include mixin.mq-max(md){
            padding-left: 0;
            padding-right: 0;
        }
    }
    .related-title {
        font-weight: 700;
        color: vars.$Primary-01;
        @include mixin.media-fs(20,22,24);
    }
    .swiper-container {
        .swiper-slide {
            width: calc(100% /3);
            @include mixin.mq-max(md){
                width: calc(100% /2);
            }
            @include mixin.mq-max(md){
                width: 100%;
            }
            .cover {
                border-radius: 10px;
                .res {
                    aspect-ratio: 4 / 3;
                    img {
                        border-radius: 10px;
                    }
                }
            }
            .content {
                width: 100%;
                padding-top: 10px;
                padding-left: 0;
                .meta {
                    font-size: 14px;
                    gap: 12px;
                    .post-category {
                        margin-right: 0;
                        padding-right: 0;
                        border-right: none;
                        a {
                            color: vars.$Primary-02;
                            font-weight: 400;
                        }
                    }
                    > div {
                        color: vars.$Primary-02;
                    }
                    .post-date {
                        .date {
                            padding-left: 10px;
                            border-left: 1px solid vars.$Primary-02;
                            color: vars.$Primary-02;
                        }
                    }
                }
                .title {
                    font-weight: 400;
                    @include mixin.media-fs(16,false,18);
                    a {
                        color: vars.$Primary-01;
                        @include mixin.line-clamp(2);
                        &:hover {
                            color: vars.$Primary-02;
                        }
                    }
                }
                .excerpt {
                    display: none !important;
                }
            }
        }
    }
    .swiper-controls {
        .swiper-button {
            @include mixin.mq-max(md){
                top: 45%;
            }
            &::before {
                background-color: vars.$Primary-01;
                color: vars.$white;
            }
            &:hover::before {
                border-color: vars.$Primary-01;
            }
            &.swiper-button-prev {
                left: -18px;
                @include mixin.mq-max(md){
                    left: 10px;
                }
            }
            &.swiper-button-next {
                right: -18px;
                @include mixin.mq-max(md){
                    right: 10px;
                }
            }
        } 
    }
}
// Shortcode Hotel in single-post
ul.list-hotel {
    margin: 0;
    padding: 0;
    li {
        list-style: none;
        .hotel_item-inner {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            gap: 23px;
            padding: 10px;
            margin-bottom: 15px;
            background: #FFF;
            box-shadow: 0px 4px 65px 0px rgba(0, 0, 0, 0.10);
            @include mixin.mq-max(md){
                align-items: center;
            }
            @include mixin.mq-max(md){
                flex-wrap: wrap;
                gap: 12px;
            }
            .hotel_item-head {
                width: 21%;
                @include mixin.mq-max(md){
                    width: 35%;
                }
                @include mixin.mq-max(md){
                    width: 100%;
                }
                a.hotel_item-head-link {
                    display: block;
                    position: relative;
                    &::before {
                        content: "";
                        display: block;
                        padding-bottom: 100%;
                        @include mixin.mq-max(md){
                            width: 56.25%;
                        }
                    }
                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    span.hotel_item-bage {
                        position: absolute;
                        width: 100%;
                        left: -7px;
                        bottom: 8.346px;
                        border-radius: 0px 6.81px 6.81px 0px;
                        background: #FA541C;
                        color: #fff;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 1.4;
                        text-transform: uppercase;
                        display: flex;
                        text-align: center;
                        justify-content: center;
                        padding: 10px;
                        &::before {
                            content: "";
                            display: block;
                            position: absolute;
                            left: 0px;
                            bottom: -7px;
                            border: 4px solid;
                            border-top-color: #AD2102;
                            border-right-color: #AD2102;
                            border-bottom-color: transparent;
                            border-left-color: transparent;
                        }
                    }
                }
            }
            .hotel_item-body-wrapper {
                width: 77%;
                display: flex;
                gap: 23px;
                @include mixin.mq-max(md){
                    flex-wrap: wrap;
                    width: 65%;
                    gap: 0;
                }
                @include mixin.mq-max(md){
                    width: 100%;
                }
                .hotel_item-body {
                    position: relative;
                    width: 70%;
                    @include mixin.mq-max(md){
                        width: 100%;
                        padding-bottom: 10px;
                        margin-bottom: 10px;
                        border-bottom: 1px solid #d8d8d8;
                    }
                    &::after {
                        content: "";
                        display: block;
                        width: 1px;
                        height: 100%;
                        background: #d8d8d8;
                        position: absolute;
                        right: 0;
                        top: 50%;
                        bottom: 0;
                        transform: translateY(-50%);
                        @include mixin.mq-max(md){
                            content: none;
                        }
                    }
                    .hotel_item-info {
                        .hotel-link {
                            display: block;
                            margin-bottom: 8px;
                            .hotel_item-title {
                                color: #000;
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: 180%;
                                &:hover {
                                    color: vars.$Primary-01;
                                }
                            }
                        }
                        .hotel_item-address {
                            display: flex;
                            flex-wrap: nowrap;
                            align-items: center;
                            gap: 5px;
                            .hotel_single-address {
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 120%;
                                color: vars.$black;
                                display: flex;
                                gap: 8px;
                                align-items: center;
                                margin-top: 5px;
                                i {
                                    color: vars.$Primary-02;
                                }
                            }
                        }
                        .post_item-rating {
                            display: flex;
                            align-items: center;
                            font-size: 14px;
                            gap: 15px;
                            margin: 10px 0;
                            .rating-stars {
                                line-height: normal;
                                padding-right: 15px;
                                border-right: 1px solid #888888;
                            }
                            svg {
                                fill: #FDC835;
                            }
                        }
                        .hotel_item-type {
                            display: flex;
                            gap: 10px;
                            flex-wrap: wrap;
                            font-size: 12px;
                            color: #1B1C1D;
                            .hotel_type-item-link {
                                color: vars.$Primary-01;
                                background-color: #F3FFF9;
                                border-radius: 4px;
                                border: 1px solid vars.$Primary-01;
                                padding: 4px 10px;
                                line-height: 1.3;
                                &:hover {
                                    background-color: vars.$Primary-01;
                                    color: vars.$white;
                                }
                            }
                        }
                    }
                }
                .hotel_item-foot {
                    width: 45%;
                    @include mixin.mq-max(md){
                        width: 100%;
                    }
                    .hotel_note {
                        font-size: 14px;
                        color: vars.$Primary-01;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 120%;
                    }
                    .vie-price {
                        display: flex;
                        flex-direction: column-reverse;
                        del {
                            text-decoration: none;
                            span.vie-price-amount bdi {
                                color: #8C8C8C;
                                font-size: 13px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 120%;
                                text-decoration: line-through;
                            }
                        }
                        ins {
                            text-decoration: none;
                            span.vie-price-amount bdi {
                                color: #F5222D;
                                font-family: inherit;
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: 120%;
                            }
                        }
                    }
                    a.hotel-booknow-btn {
                        text-align: center;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 120%;
                        text-transform: capitalize;
                        color: #fff;
                        display: flex;
                        height: 36px;
                        padding: 2px 15px;
                        justify-content: center;
                        align-items: center;
                        border-radius: 4px;
                        border: 1px solid #FA8C16;
                        background: #FA8C16;
                        box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.04);
                        margin-top: 5px;
                        @include mixin.mq-max(md){
                            width: 50%;
                        }
                        @include mixin.mq-max(sm){
                            width: 80%;
                        }
                    }
                }
            }
        }
    }
}
// Button CTA
.custom-button {
    border: none;
    padding: 0;
    max-width: 250px;
    margin: auto;
    display: block;
}
// Form Booking
.section-form-booking {
    background-color: #BBFECD;
    padding: 15px;
    margin-bottom: 20px;
    .wrapper {
        .cell {
            border-radius: 6px;
            background-color: vars.$white;
            border: 1px solid #D2D2D2;
            &.cell-img {
                flex: 0 0 43%;
                @include mixin.media-mr(0,false,10);
                @include mixin.mq-max(md){
                    flex: 0 0 100%;
                }
                img {
                    width: 100%;
                    border-radius: 6px;
                }
            }
            &.cell-content {
                padding: 10px 20px;
                flex: 0 0 calc(57% - 10px);
                @include mixin.mq-max(md){
                    flex: 0 0 100%;
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                }
                .title {
                    color: vars.$Primary-01;
                    font-weight: 700;
                    text-transform: capitalize;
                    margin-bottom: 0;
                    line-height: 1.4;
                    @include mixin.media-fs(20,26,32);
                }
                .group-inf {
                    margin: 20px 0 25px;
                    @include mixin.mq-max(md){
                        gap: 5px;
                        margin: 5px 0 10px;
                    }
                    .item {
                        i {
                            margin-right: 10px;
                        }
                    }
                    .rating {
                        i {
                            color: #ffca00;
                        }
                    }
                    .hotline {
                        font-size: 20px;
                        font-weight: 700;
                        a {
                            color: red;
                        }
                        i {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}
.form_booking-quickly {
    input.wpcf7-form-control, textarea {
        width: 100%;
        height: 45px;
        padding: 5px 10px;
        border: 1px solid #dddddd;
        background-color: #FAFAFA;
        border-radius: 6px;
    }
    label {
        font-weight: 600;
        font-size: 16px;
        color: #333;
    }
    textarea.wpcf7-form-control {
        height: 45px;
    }
    .col-12 {
        margin-bottom: 15px;
        .row {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            gap: 20px;
            .col-6 {
                width: calc(50% - 10px);
                @include mixin.mq-max(sm){
                    width: 100%;
                }
            }
        }
    }
    .form-booking-submit {
        position: relative;
        input[type="submit"] {
            margin: 10px auto 0;
            background: linear-gradient(45deg, #FC6D00, #FF3C00);
            padding: 10px 35px !important;
            font-weight: 700;
            color: vars.$white;
            text-transform: uppercase;
            width: fit-content;
            @include mixin.flex-center;
            &:hover {
                color: vars.$Primary-01;
            }
        }
        .wpcf7-spinner {
            position: absolute;
            bottom: 10px;
            margin: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    span.bottom-text {
        margin-top: 10px;
        text-align: center;
        display: block;
        font-size: 16px;
        color: #145132;
        font-weight: 600;
    }
    .wpcf7-not-valid-tip {
        font-size: 12px;
    }
    .wpcf7-response-output {
        font-size: 14px;
        margin: 5px 0 0;
        font-weight: 600;
    }
}
// Form thue xe
.section-form-rental, .section-form-booking_hotel, .section-form-strong {
    .wrapper .cell.cell-content {
        padding: 20px;
        .title {
            margin-bottom: 15px;
        }
    }
}