@use 'variables' as vars;
@use 'mixins' as mixin;

body.single-tour {
    .vie-row {
        .cell {
            padding: 0 15px;
            @include mixin.mq-max(sm){
                padding: 0;
            }
            &.vie-col-9 {
                flex: 0 0 75%;
                max-width: 75%;
                width: 75%;
                @include mixin.mq-max(md){
                    flex: 0 0 100%;
                    max-width: 100%;
                    width: 100%;
                }
                article {
                    padding: 1.34em 6.67em;
                    @include mixin.mq-max(md){
                        padding: 15px 0;
                    }
                    .heading-title {
                        font-weight: 700;
                        @include mixin.media-fs(24,false,30);
                    }
                    .tour_hightlight {
                        margin-bottom: 30px;
                        .tour_hightlight-inner {
                            padding: 32px;
                            border-radius: 8px;
                            background: #FFF7E6;
                        }
                    }
                    .tour_gallery {
                        .tour_gallery-wrapper {
                            #tour_gallery-list {
                                .img {
                                    a {
                                        overflow: hidden;
                                        border-radius: 10px;
                                        &:hover {
                                            img {
                                                transform: scale(1.04);
                                                transition: .4s;
                                            }
                                        }
                                        &::before {
                                            content: '';
                                            display: block;
                                            padding-bottom: 70%;
                                        }
                                        img {
                                            position: absolute;
                                            top: 0;
                                            left: 0;
                                            width: 100%;
                                            height: 100%;
                                            object-fit: cover;
                                            border-radius: 10px;
                                            transform: scale(1);
                                            transition: .4s;
                                        }
                                    }
                                }
                            }
                            .tour_gallery-nav {
                                margin-top: 5px;
                                margin-left: -5px;
                                margin-right: -5px;
                                .img-dots {
                                    padding: 5px;
                                    border-radius: 10px;
                                    &.slick-current {
                                        .img {
                                            border: 3px solid #FA541C;
                                        }
                                    }
                                    .img {
                                        cursor: pointer;
                                        overflow: hidden;
                                        border-radius: 10px;
                                        &::before {
                                            content: '';
                                            display: block;
                                            padding-bottom: 100%;
                                            @include mixin.mq-max(sm){
                                                padding-bottom: 80%;
                                            }
                                        }
                                        img {
                                            position: absolute;
                                            top: 0;
                                            left: 0;
                                            width: 100%;
                                            height: 100%;
                                            object-fit: cover;
                                            transition: .4s;
                                        }
                                    }
                                }
                                
                            }
                        }
                    }
                    .tour_process {
                        margin-top: 30px;
                        .timeline__item__content {

                        }
                    }
                    .tour_included {
                        margin-top: 30px;
                    }
                    .entry-content {
                        p:has(> iframe) {
                            position: relative;
                            padding-bottom: 56.25%;
                            height: 0;
                            overflow: hidden;
                            > iframe {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                            }
                        }
                        iframe {
                            width: 100%;
                        }
                        ul {
                            padding-left: 20px;
                        }
                    }
                }
            }
            &.vie-col-3 {
                flex: 0 0 25%;
                max-width: 25%;
                width: 25%;
                @include mixin.mq-max(md){
                    flex: 0 0 100%;
                    max-width: 100%;
                    width: 100%;
                }
                .single_tour_sidebar-wrapper {
                    position: sticky;
                    top: 100px;
                    .single-tour-sidebar {
                        .single_tour_sidebar-price-inner {
                            padding: 8px 13px 8px 13px;
                            background: #00a651;
                            border-radius: 8px 8px 0px 0px;
                            text-align: center;
                        }
                        .singl_hotel-form-title {
                            font-size: 18px;
                            text-transform: uppercase;
                            font-weight: 700;
                            text-align: center;
                            color: #fff;
                            margin-bottom: 0;
                        }
                        .single_tour_sidebar-form-inner {
                            padding: 24px 13px 24px 13px;
                            background: #E6F6EE;
                            border-radius: 0 0 8px 8px;
                            .wpcf7-form-control {
                                width: 100%;
                                height: 32px;
                                padding: 5px 12px !important;
                                font-size: 14px;
                                color: #000;
                                border: 1px solid #D9D9D9;
                                &::placeholder {
                                    color: #d9d9d9;
                                }
                                &[type="date"]::before {
                                    color: #d9d9d9;
                                }
                                &.wpcf7-radio {
                                    border: none;
                                    padding-left: 0 !important;
                                    .wpcf7-list-item.first {
                                        margin-left: 0;
                                    }
                                }
                            }
                            .wpcf7-form-control-wrap {
                                display: block;
                                margin: 0 0 20px 0;
                            }
                            label {
                                color: #000;
                                font-size: 14px;
                            }
                            .form-row p {
                                display: flex;
                                flex-wrap: nowrap;
                                gap: 15px;
                                justify-content: space-between;
                                margin: 0 !important;
                            }
                            .wpcf7-textarea.wpcf7-form-control {
                                max-height: 66px;
                                height: 100%;
                            }
                            .form-row {
                                margin-bottom: 0 !important;
                            }
                            span.wpcf7-spinner, form br  {
                                display: none;
                            }
                            input.wpcf7-form-control.wpcf7-submit {
                                display: flex;
                                font-size: 16px;
                                padding: 10px 20px!important;
                                margin: auto;
                                align-items: center;
                                justify-content: center;
                                background: transparent;
                                border: 1px solid orange;
                                font-weight: 700;
                                color: #fff;
                                background-color: orange;
                                height: auto;
                            }
                            .wpcf7 form > p{
                                margin-bottom: 0 !important;
                            }
                            form.wpcf7-form {
                                label span.wpcf7-not-valid-tip {
                                    position: absolute;
                                    font-size: 10px !important;
                                    width: 100% !important;
                                    display: block;
                                    white-space: pre;
                                    color: red !important;
                                    margin: 0 !important;
                                }
                                .form-row {
                                    margin: 0 -5px;
                                    display: flex;
                                    @include mixin.mq-max(md){
                                        flex-wrap: wrap;
                                    }
                                    label {
                                        width: 50%;
                                        padding: 0 5px;
                                        @include mixin.mq-max(md){
                                            width: 100%;
                                            padding: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .single-tour-title-content {
        font-size: 22px;
        text-transform: uppercase;
        line-height: 1.4;
    }
}

.single-tour-sidebar {
    margin-bottom: 20px;
    &:last-child {
        margin-bottom: 0;
    }
    .sidebar_list-post {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
            .tour-wrapper {
                position: relative;
                overflow: hidden;
                border-radius: 8px;
                span.tour-bage {
                    position: absolute;
                    display: block;
                    text-align: center;
                    background: #F5222D;
                    color: #fff;
                    font-weight: 700;
                    font-size: 14.45px;
                    top: 15%;
                    left: 38%;
                    width: 100%;
                    transform: rotateZ(45deg);
                    z-index: 1;
                }
                .tour-thumbnail {
                    position: relative;
                    &::before {
                        content: "";
                        display: block;
                        padding-bottom: 70%;
                    }
                    img {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .tour-inf {
                    position: absolute;
                    top: 50%;
                    width: 100%;
                    transform: translateY(-50%);
                    background: #00000047;
                    padding: 12px;
                    h5.tour-title {
                        color: vars.$white;
                        font-weight: 700;
                        line-height: 22.8px;
                        margin-bottom: 5px;
                        @include mixin.media-fs(16,false,19);
                        @include mixin.line-clamp(2);
                    }
                    .tour-price {
                        color: vars.$white;
                        ins {
                            text-decoration: none;
                        }
                    }
                    
                }
                
            }
            
        }
    }
}
// css
.timeline__item__head {
    margin-top: 24px;
    display: flex;
}
.timeline__item__icon-wrap::after {
    content: "";
    display: block;
    min-height: 44px;
    height: 100%;
    border-left: 2px dotted #0000000F;
    width: fit-content;
    margin: auto;
}
span.timeline__item__icon img {
    width: 16px;
    height: 16px;
    object-fit: contain;
    pointer-events: none;
}
h4.timeline__item__head-title {
    margin-left: 26px;
}
.timeline__item__icon-wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    pointer-events: none;
    .timeline__item__icon {
        color: vars.$Primary-02;
    }
}
.timeline__item__content-group {
    display: flex;
}
h4.timeline__item__head-title {
    margin-left: 26px;
    font-size: 18px;
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: -2px;
}
.timeline__item__content-group span.timeline__item__icon {
    color: #FA541C;
}
.timeline__item__content-detaill {
    margin-left: 26px;
}
ul.tour_included-list {
    display: flex;
    flex-wrap: wrap;
}
ul.tour_included-list li {
    width: 50%;
    margin-bottom: 8px;
}
span.single_tour-price {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.single_tour_sidebar-price-inner {
    padding: 8px 13px 8px 13px;
    background: #00a651;
    border-radius: 8px 8px 0px 0px;
    text-align: center;
}
.single_tour_sidebar-price-inner ins span.tour-price-amount {
    font-size: 20px;
}
.single_tour_sidebar-price-inner del span.tour-price-amount {
    font-weight: 500;
}
.single_tour_sidebar-price-inner span bdi {
    color: #fff;
}
.single_tour_sidebar-price-inner label {
    color: #fff;
}
.single_tour_sidebar-form-inner {
    padding: 24px 13px 24px 13px;
    background: #E6F6EE;
    border-radius: 0 0 8px 8px;
}
.single_tour_sidebar-form-inner .wpcf7-form-control {
    height: 32px;
    padding: 5px 12px !important;
    font-size: 14px;
    color: #000;
    border: 1px solid #D9D9D9;
}
.single_tour_sidebar-form-inner .wpcf7-form-control::placeholder {
    color: #d9d9d9;
}
.single_tour_sidebar-form-inner .wpcf7-form-control[type="date"]::before {
    color: #d9d9d9;
}
.single_tour_sidebar-form-inner span.wpcf7-spinner {
    display: none;
}
.single_tour_sidebar-form-inner .wpcf7-form-control-wrap {
    display: block;
    margin: 0 0 20px 0;
}
.single_tour_sidebar-form-inner form br {
    display: none;
}
.single_tour_sidebar-form-inner label {
    color: #000;
    font-size: 14px;
}
.single_tour_sidebar-form-inner .form-row p {
    display: flex;
    flex-wrap: nowrap;
    gap: 15px;
    justify-content: space-between;
    margin: 0 !important;
}
h4.singl_tour-form-title {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    color: #000;
    margin-bottom: 15px;
}
.single_tour_sidebar-form-inner .wpcf7-textarea.wpcf7-form-control {
    max-height: 66px;
    height: 100%;
}
.single_tour_sidebar-form-inner .form-row {
    margin-bottom: 0 !important;
}
.single_tour_sidebar-form-inner input.wpcf7-form-control.wpcf7-submit {
    display: flex;
    font-size: 16px;
    padding: 10px 20px!important;
    margin: auto;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 1px solid orange;
    font-weight: 700;
    color: #fff;
    background-color: orange;
    height: auto;
}
.single_tour_sidebar-form-inner .wpcf7 form > p{
    margin-bottom: 0 !important;
}
form.wpcf7-form label span.wpcf7-not-valid-tip {
    position: absolute;
    font-size: 10px !important;
    width: 100% !important;
    display: block;
    white-space: pre;
    color: red !important;
    margin: 0 !important;
}