@use 'variables' as vars;
@use 'mixins' as mixin;

body.single-hotel {
    .vie-row {
        .cell {
            padding: 0 15px;
            @include mixin.mq-max(sm){
                padding: 0;
            }
            &.vie-col-9 {
                flex: 0 0 75%;
                max-width: 75%;
                width: 75%;
                @include mixin.mq-max(md){
                    flex: 0 0 100%;
                    max-width: 100%;
                    width: 100%;
                }
                article {
                    padding: 20px 80px;
                    @include mixin.mq-max(md){
                        padding: 15px 0;
                    }
                    .entry-head-content {
                        margin-bottom: 16px;
                        padding-bottom: 15px;
                        border-bottom: 1px solid #d9d9d9;
                        .vie-row {
                            .entry-head-info {
                                flex: 0 0 75%;
                                max-width: 75%;
                                @include mixin.mq-max(md){
                                    flex: 0 0 100%;
                                    max-width: 100%;
                                }
                                .heading-title {
                                    font-weight: 700;
                                    @include mixin.media-fs(24,false,30);
                                }
                                .hotel_single-address {
                                    font-size: 14px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 120%;
                                    color: #000;
                                    margin-top: 5px;
                                }
                                .single_hotel-meta {
                                    flex-direction: row-reverse;
                                    align-items: center;
                                    justify-content: start;
                                    gap: 15px;
                                    margin-top: 5px;
                                    .hotel_item-type {
                                        a {
                                            color: #fff;
                                            font-size: 12px;
                                            font-style: normal;
                                            font-weight: 400;
                                            line-height: 120%;
                                            padding: 4px 8px;
                                            text-align: center;
                                            background: vars.$Primary-01;
                                            border-radius: 4px;
                                            display: block;
                                            width: fit-content;
                                            margin: 4px;
                                        }
                                    }
                                    .rating .post_item-rating {
                                        gap: 15px;
                                        font-size: 13px;
                                        font-style: normal;
                                        font-weight: 400;
                                        line-height: 120%;
                                        margin: 5px 0;
                                        .rating-stars svg.filled {
                                            fill: gold;
                                        }
                                    }
                                }
                            }
                            .hotel_item-foot {
                                flex: 0 0 25%;
                                max-width: 25%;
                                @include mixin.media-pl(0,false,15);
                                @include mixin.mq-max(md){
                                    margin-top: 10px;
                                    flex: 0 0 100%;
                                    max-width: 100%;
                                }
                                &-left {
                                    span.hotel_note {
                                        color: vars.$Primary-01;
                                        font-size: 16px;
                                        font-weight: 400;
                                        line-height: 120%;
                                    }
                                    .vie-price {
                                        display: flex;
                                        flex-direction: column-reverse;
                                        ins {
                                            text-decoration: none;
                                            span.vie-price-amount bdi {
                                                color: #F5222D;
                                                font-size: 18px;
                                                font-style: normal;
                                                font-weight: 700;
                                                line-height: 120%;
                                            }
                                        }
                                        del {
                                            text-decoration: none;
                                            span.vie-price-amount bdi {
                                                color: #8C8C8C;
                                                font-size: 13px;
                                                font-weight: 400;
                                                line-height: 120%;
                                                text-decoration: line-through;
                                            }
                                        }
                                    }
                                }
                                &-right {
                                    a.hotel-booknow-btn {
                                        text-align: center;
                                        font-size: 16px;
                                        font-weight: 700;
                                        line-height: 120%;
                                        color: #fff;
                                        height: 32px;
                                        padding: 4px 15px;
                                        border-radius: 4px;
                                        border: 1px solid #FA8C16;
                                        background: #FA8C16;
                                        box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.04);
                                        margin-top: 5px;
                                        @include mixin.flex-center;
                                        @include mixin.mq-max(md){
                                            width: fit-content;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .hotel_gallery {
                        .hotel_gallery-wrapper {
                            #hotel_gallery-list {
                                .img {
                                    a {
                                        overflow: hidden;
                                        border-radius: 10px;
                                        &:hover {
                                            img {
                                                transform: scale(1.04);
                                                transition: .4s;
                                            }
                                        }
                                        &::before {
                                            content: '';
                                            display: block;
                                            padding-bottom: 70%;
                                        }
                                        img {
                                            position: absolute;
                                            top: 0;
                                            left: 0;
                                            width: 100%;
                                            height: 100%;
                                            object-fit: cover;
                                            border-radius: 10px;
                                            transform: scale(1);
                                            transition: .4s;
                                        }
                                    }
                                }
                            }
                            .hotel_gallery-nav {
                                margin-top: 5px;
                                margin-left: -5px;
                                margin-right: -5px;
                                .img-dots {
                                    padding: 5px;
                                    border-radius: 10px;
                                    &.slick-current {
                                        .img {
                                            border: 3px solid #FA541C;
                                        }
                                    }
                                    .img {
                                        cursor: pointer;
                                        overflow: hidden;
                                        border-radius: 10px;
                                        &::before {
                                            content: '';
                                            display: block;
                                            padding-bottom: 100%;
                                            @include mixin.mq-max(sm){
                                                padding-bottom: 80%;
                                            }
                                        }
                                        img {
                                            position: absolute;
                                            top: 0;
                                            left: 0;
                                            width: 100%;
                                            height: 100%;
                                            object-fit: cover;
                                            transition: .4s;
                                        }
                                    }
                                }
                                
                            }
                        }
                    }
                    .hotel_combo {
                        &-content {
                            padding: 16px 32px;
                            background: #feeec5;
                            margin: 24px 0;
                            border-radius: 4px;
                            @include mixin.mq-max(md){
                                padding: 16px 20px;
                            }
                            @include mixin.mq-max(sm){
                                padding: 16px;
                            }
                            p {
                                color: #4a4a4a;
                                @include mixin.media-fs(16,false,17);
                            }
                            ul {
                                padding-left: 20px;
                            }
                        }
                    }
                    .hotel_utilities {
                        .hotel_utilities-list {
                            margin: 24px 0;
                            background: linear-gradient(180deg, #FFF7E6 0%, rgba(255, 247, 230, 0.00) 100%);
                            padding: 16px 32px;
                            display: flex;
                            flex-wrap: wrap;
                            gap: 12px;
                            li {
                                width: 49%;
                                @include mixin.mq-max(md){
                                    width: 100%;
                                }
                                a {
                                    color: vars.$black;
                                }
                            }
                        }
                    }
                    .entry-content {
                        line-height: 1.6;
                        p:has(> iframe) {
                            position: relative;
                            padding-bottom: 56.25%;
                            height: 0;
                            overflow: hidden;
                            > iframe {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                            }
                        }
                        iframe {
                            width: 100%;
                        }
                        ul {
                            padding-left: 20px;
                        }
                    }
                }
            }
            &.vie-col-3 {
                flex: 0 0 25%;
                max-width: 25%;
                width: 25%;
                @include mixin.mq-max(md){
                    flex: 0 0 100%;
                    max-width: 100%;
                    width: 100%;
                }
                .single_tour_sidebar-wrapper {
                    position: sticky;
                    top: 100px;
                    .single-tour-sidebar {
                        .single_tour_sidebar-price-inner {
                            padding: 8px 13px 8px 13px;
                            background: #00a651;
                            border-radius: 8px 8px 0px 0px;
                            text-align: center;
                        }
                        .singl_hotel-form-title {
                            font-size: 18px;
                            text-transform: uppercase;
                            font-weight: 700;
                            text-align: center;
                            color: #fff;
                            margin-bottom: 0;
                        }
                        .single_tour_sidebar-form-inner {
                            padding: 24px 13px 24px 13px;
                            background: #E6F6EE;
                            border-radius: 0 0 8px 8px;
                            .wpcf7-form-control {
                                width: 100%;
                                height: 32px;
                                padding: 5px 12px !important;
                                font-size: 14px;
                                color: #000;
                                border: 1px solid #D9D9D9;
                                &::placeholder {
                                    color: #d9d9d9;
                                }
                                &[type="date"]::before {
                                    color: #d9d9d9;
                                }
                                &.wpcf7-radio {
                                    border: none;
                                    padding-left: 0 !important;
                                    .wpcf7-list-item.first {
                                        margin-left: 0;
                                    }
                                }
                            }
                            .wpcf7-form-control-wrap {
                                display: block;
                                margin: 0 0 20px 0;
                            }
                            label {
                                color: #000;
                                font-size: 14px;
                            }
                            .form-row p {
                                display: flex;
                                flex-wrap: nowrap;
                                gap: 15px;
                                justify-content: space-between;
                                margin: 0 !important;
                            }
                            .wpcf7-textarea.wpcf7-form-control {
                                max-height: 66px;
                                height: 100%;
                            }
                            .form-row {
                                margin-bottom: 0 !important;
                            }
                            span.wpcf7-spinner, form br  {
                                display: none;
                            }
                            input.wpcf7-form-control.wpcf7-submit {
                                display: flex;
                                font-size: 16px;
                                padding: 10px 20px!important;
                                margin: auto;
                                align-items: center;
                                justify-content: center;
                                background: transparent;
                                border: 1px solid orange;
                                font-weight: 700;
                                color: #fff;
                                background-color: orange;
                                height: auto;
                            }
                            .wpcf7 form > p{
                                margin-bottom: 0 !important;
                            }
                            form.wpcf7-form {
                                label span.wpcf7-not-valid-tip {
                                    position: absolute;
                                    font-size: 10px !important;
                                    width: 100% !important;
                                    display: block;
                                    white-space: pre;
                                    color: red !important;
                                    margin: 0 !important;
                                }
                                .form-row {
                                    margin: 0 -5px;
                                    display: flex;
                                    @include mixin.mq-max(md){
                                        flex-wrap: wrap;
                                    }
                                    label {
                                        width: 50%;
                                        padding: 0 5px;
                                        @include mixin.mq-max(md){
                                            width: 100%;
                                            padding: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        
    }
    .single-tour-title-content {
        font-size: 22px;
        text-transform: uppercase;
        margin-top: 24px;
        line-height: 1.4;
    }
}

.single-tour-sidebar {
    margin-bottom: 20px;
    &:last-child {
        margin-bottom: 0;
    }
    .sidebar_list-post {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
            .tour-wrapper {
                position: relative;
                overflow: hidden;
                border-radius: 8px;
                span.tour-bage {
                    position: absolute;
                    display: block;
                    text-align: center;
                    background: #F5222D;
                    color: #fff;
                    font-weight: 700;
                    font-size: 14.45px;
                    top: 15%;
                    left: 38%;
                    width: 100%;
                    transform: rotateZ(45deg);
                    z-index: 1;
                }
                .tour-thumbnail {
                    position: relative;
                    &::before {
                        content: "";
                        display: block;
                        padding-bottom: 70%;
                    }
                    img {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .tour-inf {
                    position: absolute;
                    top: 50%;
                    width: 100%;
                    transform: translateY(-50%);
                    background: #00000047;
                    padding: 12px;
                    h5.tour-title {
                        color: vars.$white;
                        font-weight: 700;
                        line-height: 22.8px;
                        margin-bottom: 5px;
                        @include mixin.media-fs(16,false,19);
                        @include mixin.line-clamp(2);
                    }
                    .tour-price {
                        color: vars.$white;
                        ins {
                            text-decoration: none;
                        }
                    }
                    
                }
                
            }
            
        }
    }
}
#ez-toc-container {
    width: 100% !important;
}
// Shortcode Hotel in single-post
ul.list-hotel {
    margin: 0;
    padding: 0;
    li {
        list-style: none;
        .hotel_item-inner {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            gap: 23px;
            padding: 10px;
            margin-bottom: 15px;
            background: #FFF;
            box-shadow: 0px 4px 65px 0px rgba(0, 0, 0, 0.10);
            @include mixin.mq-max(md){
                align-items: center;
            }
            @include mixin.mq-max(md){
                flex-wrap: wrap;
                gap: 12px;
            }
            .hotel_item-head {
                width: 21%;
                @include mixin.mq-max(md){
                    width: 35%;
                }
                @include mixin.mq-max(md){
                    width: 100%;
                }
                a.hotel_item-head-link {
                    display: block;
                    position: relative;
                    &::before {
                        content: "";
                        display: block;
                        padding-bottom: 100%;
                        @include mixin.mq-max(md){
                            width: 56.25%;
                        }
                    }
                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    span.hotel_item-bage {
                        position: absolute;
                        width: 100%;
                        left: -7px;
                        bottom: 8.346px;
                        border-radius: 0px 6.81px 6.81px 0px;
                        background: #FA541C;
                        color: #fff;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 1.4;
                        text-transform: uppercase;
                        display: flex;
                        text-align: center;
                        justify-content: center;
                        padding: 10px;
                        &::before {
                            content: "";
                            display: block;
                            position: absolute;
                            left: 0px;
                            bottom: -7px;
                            border: 4px solid;
                            border-top-color: #AD2102;
                            border-right-color: #AD2102;
                            border-bottom-color: transparent;
                            border-left-color: transparent;
                        }
                    }
                }
            }
            .hotel_item-body-wrapper {
                width: 77%;
                display: flex;
                gap: 23px;
                @include mixin.mq-max(md){
                    flex-wrap: wrap;
                    width: 65%;
                    gap: 0;
                }
                @include mixin.mq-max(md){
                    width: 100%;
                }
                .hotel_item-body {
                    position: relative;
                    width: 70%;
                    @include mixin.mq-max(md){
                        width: 100%;
                        padding-bottom: 10px;
                        margin-bottom: 10px;
                        border-bottom: 1px solid #d8d8d8;
                    }
                    &::after {
                        content: "";
                        display: block;
                        width: 1px;
                        height: 100%;
                        background: #d8d8d8;
                        position: absolute;
                        right: 0;
                        top: 50%;
                        bottom: 0;
                        transform: translateY(-50%);
                        @include mixin.mq-max(md){
                            content: none;
                        }
                    }
                    .hotel_item-info {
                        .hotel-link {
                            display: block;
                            margin-bottom: 8px;
                            .hotel_item-title {
                                color: #000;
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: 180%;
                                &:hover {
                                    color: vars.$Primary-01;
                                }
                            }
                        }
                        .hotel_item-address {
                            display: flex;
                            flex-wrap: nowrap;
                            align-items: center;
                            gap: 5px;
                            .hotel_single-address {
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 120%;
                                color: vars.$black;
                                display: flex;
                                gap: 8px;
                                align-items: center;
                                margin-top: 5px;
                                i {
                                    color: vars.$Primary-02;
                                }
                            }
                        }
                        .post_item-rating {
                            display: flex;
                            align-items: center;
                            font-size: 14px;
                            gap: 15px;
                            margin: 10px 0;
                            .rating-stars {
                                line-height: normal;
                                padding-right: 15px;
                                border-right: 1px solid #888888;
                            }
                            svg {
                                fill: #FDC835;
                            }
                        }
                        .hotel_item-type {
                            display: flex;
                            gap: 10px;
                            flex-wrap: wrap;
                            font-size: 12px;
                            color: #1B1C1D;
                            .hotel_type-item-link {
                                color: vars.$Primary-01;
                                background-color: #F3FFF9;
                                border-radius: 4px;
                                border: 1px solid vars.$Primary-01;
                                padding: 4px 10px;
                                line-height: 1.3;
                                &:hover {
                                    background-color: vars.$Primary-01;
                                    color: vars.$white;
                                }
                            }
                        }
                    }
                }
                .hotel_item-foot {
                    width: 45%;
                    @include mixin.mq-max(md){
                        width: 100%;
                    }
                    .hotel_note {
                        font-size: 14px;
                        color: vars.$Primary-01;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 120%;
                    }
                    .vie-price {
                        display: flex;
                        flex-direction: column-reverse;
                        del {
                            text-decoration: none;
                            span.vie-price-amount bdi {
                                color: #8C8C8C;
                                font-size: 13px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 120%;
                                text-decoration: line-through;
                            }
                        }
                        ins {
                            text-decoration: none;
                            span.vie-price-amount bdi {
                                color: #F5222D;
                                font-family: inherit;
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: 120%;
                            }
                        }
                    }
                    a.hotel-booknow-btn {
                        text-align: center;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 120%;
                        text-transform: capitalize;
                        color: #fff;
                        display: flex;
                        height: 36px;
                        padding: 2px 15px;
                        justify-content: center;
                        align-items: center;
                        border-radius: 4px;
                        border: 1px solid #FA8C16;
                        background: #FA8C16;
                        box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.04);
                        margin-top: 5px;
                        @include mixin.mq-max(md){
                            width: 50%;
                        }
                        @include mixin.mq-max(sm){
                            width: 80%;
                        }
                    }
                }
            }
        }
    }
}
// Button CTA
.custom-button {
    border: none;
    padding: 0;
    max-width: 250px;
    margin: auto;
    display: block;
}
// Form Booking
.section-form-booking {
    background-color: #BBFECD;
    padding: 15px;
    margin-bottom: 20px;
    .wrapper {
        .cell {
            border-radius: 6px;
            background-color: vars.$white;
            border: 1px solid #D2D2D2;
            &.cell-img {
                flex: 0 0 43%;
                @include mixin.media-mr(0,false,10);
                @include mixin.mq-max(md){
                    flex: 0 0 100%;
                }
                img {
                    width: 100%;
                    border-radius: 6px;
                }
            }
            &.cell-content {
                padding: 10px 20px;
                flex: 0 0 calc(57% - 10px);
                @include mixin.mq-max(md){
                    flex: 0 0 100%;
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                }
                .title {
                    color: vars.$Primary-01;
                    font-weight: 700;
                    text-transform: capitalize;
                    margin-bottom: 0;
                    line-height: 1.4;
                    @include mixin.media-fs(20,26,32);
                }
                .group-inf {
                    margin: 20px 0 25px;
                    @include mixin.mq-max(md){
                        gap: 5px;
                        margin: 5px 0 10px;
                    }
                    .item {
                        i {
                            margin-right: 10px;
                        }
                    }
                    .rating {
                        i {
                            color: #ffca00;
                        }
                    }
                    .hotline {
                        font-size: 20px;
                        font-weight: 700;
                        a {
                            color: red;
                        }
                        i {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}
.form_booking-quickly {
    input.wpcf7-form-control, textarea {
        width: 100%;
        height: 45px;
        padding: 5px 10px;
        border: 1px solid #dddddd;
        background-color: #FAFAFA;
        border-radius: 6px;
    }
    label {
        font-weight: 600;
        font-size: 16px;
        color: #333;
    }
    textarea.wpcf7-form-control {
        height: 45px;
    }
    .col-12 {
        margin-bottom: 15px;
        .row {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            gap: 20px;
            .col-6 {
                width: calc(50% - 10px);
                @include mixin.mq-max(sm){
                    width: 100%;
                }
            }
        }
    }
    .form-booking-submit {
        position: relative;
        input[type="submit"] {
            margin: 10px auto 0;
            background: linear-gradient(45deg, #FC6D00, #FF3C00);
            padding: 10px 35px !important;
            font-weight: 700;
            color: vars.$white;
            text-transform: uppercase;
            width: fit-content;
            @include mixin.flex-center;
            &:hover {
                color: vars.$Primary-01;
            }
        }
        .wpcf7-spinner {
            position: absolute;
            bottom: 10px;
            margin: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    span.bottom-text {
        margin-top: 10px;
        text-align: center;
        display: block;
        font-size: 16px;
        color: #145132;
        font-weight: 600;
    }
    .wpcf7-not-valid-tip {
        font-size: 12px;
    }
    .wpcf7-response-output {
        font-size: 14px;
        margin: 5px 0 0;
        font-weight: 600;
    }
}
// Form thue xe
.section-form-rental, .section-form-booking_hotel, .section-form-strong {
    .wrapper .cell.cell-content {
        padding: 20px;
        .title {
            margin-bottom: 15px;
        }
    }
}