@use 'variables' as vars;
@use 'mixins' as mixin;

.tour-head-banner {
    img {
        width: 100%;
    }
    .tour-banner-content {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, 0%);
        width: 100%;
        .group-heading {
            text-transform: uppercase;
            .title {
                color: vars.$Primary-01;
                font-weight: 600;
                @include mixin.media-fs(20,24,56);
            }
            .desc {
                span {
                    background-color: vars.$Primary-01;
                    color: vars.$white;
                    display: block;
                    width: fit-content;
                    font-weight: 600;
                    padding: 2px;
                    @include mixin.media-fs(12,14,35);
                    @include mixin.media-mb(5,false,12);
                    &:last-child {
                        margin-bottom: 0;
                    }

                }
            }
        }
        .section-form {
            @include mixin.mq-max(md){
                display: none;
            }
        }
    }
}

// form search
.tour_filter_form-inner {
    margin-top: 80px;
    padding: 28px 31px 28px 31px;
    border-radius: 9px;
    background: vars.$white;
    max-width: 80%;
    @include mixin.mq-max(md){
        margin-top: 0;
        max-width: 100%;
        padding: 16px;
    }
    form {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
        .tour_filter-col {
            max-width: 25%;
            padding: 0 15px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: end;
            @include mixin.mq-max(md){
                max-width: 100%;
                padding: 15px 10px;
            }
            .tour_filter-label {
                margin-bottom: 10px;
                i {
                    color: vars.$Primary-02;
                    margin-right: 5px;
                    @include mixin.media-fs(18,24,26);
                }
                label {
                    color: #00A651;
                    @include mixin.media-fs(17,false,20);
                }
            }
            input, select {
                width: 100%;
                height: 46px;
                background-color: #FAFAFA;
                border: 1px solid #dddddd;
                padding: 0 10px;
                @include mixin.flex-center();
            }
            select {
                cursor: pointer;
            }
            input[type="submit"] {
                font-size: 19px;
                display: block;
                text-transform: uppercase;
                width: 100%;
                background: #FA8C16;
                border-radius: 5px;
                color: vars.$white;
            }
        }
    }
}

// MAIN CONTENT
.tour-main-content {
    .wrapper {
        .cell {
            padding: 0 15px;
            @include mixin.mq-max(md){
                padding: 0;
            }
            &.cell-content {
                flex: 0 0 75%;
                max-width: 75%;
                width: 75%;
                @include mixin.mq-max(md){
                    flex: 0 0 100%;
                    max-width: 100%;
                    width: 100%;
                }
                .group-heading {
                    .heading-title {
                        text-transform: uppercase;
                        margin-bottom: 5px;
                        @include mixin.media-fs(24,false,46);
                    }
                    .desc {
                        background-color: vars.$Primary-02;
                        color: vars.$white;
                        text-transform: uppercase;
                        padding: 5px 10px;
                        border-radius: 10px;
                        width: fit-content;
                        @include mixin.media-fs(18,false,24);
                    }
                }
                ul.list-tour {
                    padding: 0;
                    list-style-type: none;
                    display: flex;
                    flex-wrap: wrap;
                    margin: 20px -15px 0;
                    @include mixin.mq-max(md){
                        margin-left: -12px;
                        margin-right: -12px;
                    }
                    @include mixin.mq-max(sm){
                        margin-left: 0;
                        margin-right: 0;
                    }
                    .tour_item {
                        display: block;
                        max-width: 33.33%;
                        width: 33.33%;
                        margin-bottom: 20px;
                        min-height: 100%;
                        flex: auto;
                        padding: 0 15px;
                        @include mixin.mq-max(md){
                            max-width: 50%;
                            width: 50%;
                            padding: 0 12px;
                        }
                        @include mixin.mq-max(sm){
                            max-width: 100%;
                            width: 100%;
                            padding: 0;
                        }
                        .tour_item-wrapper {
                            display: flex;
                            min-height: 100%;
                            .tour_item-inner {
                                border-radius: 8px;
                                box-shadow: 0px 0px 28.1947px rgba(6, 30, 98, 0.24);
                                display: flex;
                                flex-direction: column;
                                flex: auto;
                                background-color: vars.$white;
                                .tour_item-head {
                                    a {
                                        overflow: hidden;
                                        border-radius: 8px 8px 0 0;
                                        &::before {
                                            content: "";
                                            display: block;
                                            padding-bottom: 75%;
                                        }
                                        img {
                                            position: absolute;
                                            top: 0;
                                            left: 0;
                                            width: 100%;
                                            height: 100%;
                                            object-fit: cover;
                                        }
                                    }
                                    span.tour-price {
                                        position: absolute;
                                        bottom: 0;
                                        right: 0;
                                        background: #FFD591;
                                        padding: 5px 7px;
                                        text-align: right;
                                        border-radius: 10px 0px 0px 0px;
                                        ins {
                                            span.tour-price-amount {
                                                font-weight: 700;
                                                color: #F5222D;
                                                @include mixin.media-fs(16,false,18);
                                            }
                                        }
                                        del {
                                            span.tour-price-amount {
                                                font-weight: 600;
                                                color: #8C8C8C;
                                                @include mixin.media-fs(14,false,16);
                                            }
                                        }
                                    }
                                    span.tour-dis-per {
                                        position: absolute;
                                        top: 25px;
                                        left: -9px;
                                        display: block;
                                        padding: 2px 25px;
                                        color: #fff;
                                        background: #FA541C;
                                        border-radius: 0px 9.39824px 9.39824px 0px;
                                        font-weight: 700;
                                        @include mixin.media-fs(17,false,20);
                                        &::before {
                                            content: "";
                                            display: block;
                                            position: absolute;
                                            left: 0;
                                            bottom: -10px;
                                            border: 5px solid;
                                            border-top-color: #AD2102;
                                            border-right-color: #AD2102;
                                            border-bottom-color: transparent;
                                            border-left-color: transparent;
                                        }
                                    }
                                }
                                .tour_item-body {

                                }
                            }
                        }
                    }
                }
                .tour-shortcode {
                    &.hide-pc {
                        display: none;
                        @include mixin.mq-max(md){
                            display: block;
                        }
                    }
                }
            }
            &.cell-sidebar {
                flex: 0 0 25%;
                max-width: 25%;
                width: 25%;
                @include mixin.mq-max(md){
                    flex: 0 0 100%;
                    max-width: 100%;
                    width: 100%;
                }
                ul.list-tour {
                    margin-top: 0;
                    position: sticky;
                    top: 100px;
                    @include mixin.mq-max(md){
                        position: relative;
                        top: 0;
                    }
                    .tour_item {
                        max-width: 100%;
                        width: 100%;
                        .tour_item-wrapper {
                            overflow: hidden;
                            .tour_item-inner {
                                .tour_item-head {
                                    .tour_item-head-link {
                                        border-radius: 8px;
                                        &::before {
                                            padding-bottom: 70%;
                                        }
                                        .tour_item-title {
                                            background: #00000047;
                                            position: absolute;
                                            color: #fff;
                                            top: 50%;
                                            padding: 5px 18px;
                                            line-height: 1.4;
                                            transform: translateY(-50%);
                                            @include mixin.line-clamp(2);
                                            @include mixin.media-fs(18,false,20);
                                        }
                                    }
                                    span.tour-price {
                                        display: flex;
                                        flex-direction: row-reverse;
                                        align-items: center;
                                        background: #FA8C16;
                                        border-radius: 8px 0 8px 0;
                                        padding: 9px 11px;
                                        ins {
                                            span.tour-price-amount {
                                                color: vars.$white;
                                                @include mixin.media-fs(16,false,18);
                                            }
                                        }
                                        del {
                                            margin-right: 2px;
                                            span.tour-price-amount {
                                                font-size: 12px;
                                                margin-right: 5px;
                                                color: #fff;
                                                font-weight: 400;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            ul.list-tour {
                padding: 0;
                list-style-type: none;
                display: flex;
                flex-wrap: wrap;
                margin: 20px -15px 0;
                .tour_item {
                    display: block;
                    max-width: 33.33%;
                    width: 33.33%;
                    margin-bottom: 20px;
                    min-height: 100%;
                    flex: auto;
                    padding: 0 15px;
                    .tour_item-wrapper {
                        display: flex;
                        min-height: 100%;
                        .tour_item-inner {
                            border-radius: 8px;
                            box-shadow: 0px 0px 28.1947px rgba(6, 30, 98, 0.24);
                            display: flex;
                            flex-direction: column;
                            flex: auto;
                            background-color: vars.$white;
                            .tour_item-head {
                                .tour_item-head-link {
                                    overflow: hidden;
                                    border-radius: 8px 8px 0 0;
                                    &:hover {
                                        img {
                                            transform: scale(1.05);
                                            transition: all .4s;
                                        }
                                    }
                                    &::before {
                                        content: "";
                                        display: block;
                                        padding-bottom: 75%;
                                    }
                                    img {
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                        transform: scale(1);
                                        transition: all .4s;
                                    }
                                }
                                span.tour-price {
                                    position: absolute;
                                    bottom: 0;
                                    right: 0;
                                    background: #FFD591;
                                    padding: 5px 7px;
                                    text-align: right;
                                    border-radius: 10px 0px 0px 0px;
                                    ins {
                                        text-decoration: none;
                                        span.tour-price-amount {
                                            font-weight: 700;
                                            color: #F5222D;
                                            @include mixin.media-fs(16,false,18);
                                        }
                                    }
                                    del {
                                        text-decoration: none;
                                        span.tour-price-amount {
                                            font-weight: 600;
                                            color: #8C8C8C;
                                            @include mixin.media-fs(14,false,16);
                                        }
                                    }
                                }
                                span.tour-dis-per {
                                    position: absolute;
                                    top: 25px;
                                    left: -9px;
                                    display: block;
                                    padding: 2px 25px;
                                    color: #fff;
                                    background: #FA541C;
                                    border-radius: 0px 9.39824px 9.39824px 0px;
                                    font-weight: 700;
                                    @include mixin.media-fs(17,false,20);
                                    &::before {
                                        content: "";
                                        display: block;
                                        position: absolute;
                                        left: 0;
                                        bottom: -10px;
                                        border: 5px solid;
                                        border-top-color: #AD2102;
                                        border-right-color: #AD2102;
                                        border-bottom-color: transparent;
                                        border-left-color: transparent;
                                    }
                                }
                                span.tour-hot-bage {
                                    position: absolute;
                                    top: 10%;
                                    left: 40%;
                                    display: block;
                                    padding: 4px 25px;
                                    color: #fff;
                                    background: #F5222D;
                                    border-radius: 0px 9.39824px 9.39824px 0px;
                                    font-size: 18px;
                                    font-weight: 700;
                                    font-family: 'Be Vietnam Pro';
                                    width: 100%;
                                    transform: rotate(45deg);
                                    text-align: center;
                                }
                            }
                            .tour_item-body {
                                flex: auto;
                                padding: 15px 20px 0;
                                .tour_item-title {
                                    font-weight: 400;
                                    @include mixin.media-fs(18,false,22);
                                    a {
                                        color: #262626;
                                        @include mixin.line-clamp(2);
                                    }
                                }
                                .tour_item-info-meta {
                                    display: flex;
                                    margin: 20px 0;
                                    justify-content: space-between;
                                    span.tour_time_booking {
                                        display: flex;
                                        font-size: 12px;
                                        align-items: center;
                                        gap: 5px;
                                        font-weight: 700;
                                        color: #8C8C8C;
                                        i {
                                            font-size: 18px;
                                            color: vars.$Primary-01;
                                        }
                                    }
                                    .tour-transport img {
                                        max-width: 39px;
                                        max-height: 20px;
                                        object-fit: contain;
                                        pointer-events: none;
                                    }
                                }
                                .tour_item-info-short-des {
                                    margin-bottom: 20px;
                                    ul {
                                        padding-left: 20px;
                                        display: flex;
                                        flex-wrap: wrap;
                                        justify-content: space-between;
                                        li.tour_outstanding_item {
                                            font-size: 11px;
                                            font-weight: 500;
                                            color: #595959;
                                            width: calc(50% - 10px);
                                            margin-bottom: 8px;
                                        }
                                    }
                                }
                                
                            }
                            .tour_item-foot {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                padding: 0 20px;
                                margin-bottom: 20px;
                                a.tour-booknow-btn {
                                    font-size: 16px;
                                    color: #FA8C16;
                                    padding: 12px 16px;
                                    border: 1px solid #FA8C16;
                                    border-radius: 5px;
                                    font-weight: 700;
                                    @include mixin.flex-center;
                                }
                                .tour_contact-btn {
                                    img {
                                        object-fit: contain;
                                        @include mixin.box(40);
                                    }
                                    a.hotline {
                                        margin-right: 5px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .tour-category-location {
            .group-heading {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 20px;
                .heading-title {
                    @include mixin.media-fs(22,false,32);
                }
            }
        }
    }
}

.tour-why-choose {
    background-color: #E6F6EE;
    .wrapper {
        list-style-type: none;
        padding: 0;
        margin: 0;
        .item {
            width: calc(100% / 3);
            padding: 0 20px;
            @include mixin.mq-max(md){
                width: 100%;
                padding: 20px;
            }
            .img {
                &::before {
                    content: '';
                    display: block;
                    padding-bottom: 55%;
                }
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            .title {
                margin-top: 20px;
                margin-bottom: 25px;
                color: #262626;
                line-height: 1.4;
                font-weight: 700;
                @include mixin.media-fs(20,false,25);
            }
            .content {
                line-height: 1.4;
                text-align: justify;
                @include mixin.media-fs(16,false,18);
            }
        }
    }
}

.tour-shortcode {
    .container {
        @include mixin.mq-max(md){
            padding: 0;
        }
    }
}

.single-tour-sidebar {
    position: sticky;
    top: 100px;
    @include mixin.mq-max(md){
        position: relative;
        top: 0;
    }
}
.sidebar_list-post {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
        margin-bottom: 15px;
        &:last-child {
            margin-bottom: 0;
        }
        .tour-wrapper {
            position: relative;
            overflow: hidden;
            border-radius: 8px;
            span.tour-bage {
                position: absolute;
                display: block;
                text-align: center;
                background: #F5222D;
                color: #fff;
                font-weight: 700;
                font-size: 14.45px;
                top: 15%;
                left: 38%;
                width: 100%;
                transform: rotateZ(45deg);
                z-index: 1;
            }
            .tour-thumbnail {
                position: relative;
                &::before {
                    content: "";
                    display: block;
                    padding-bottom: 70%;
                }
                img {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .tour-inf {
                position: absolute;
                top: 50%;
                width: 100%;
                transform: translateY(-50%);
                background: #00000047;
                padding: 12px;
                h5.tour-title {
                    color: vars.$white;
                    font-weight: 700;
                    line-height: 22.8px;
                    margin-bottom: 5px;
                    @include mixin.media-fs(16,false,19);
                    @include mixin.line-clamp(2);
                }
                .tour-price {
                    color: vars.$white;
                    ins {
                        text-decoration: none;
                    }
                }
                
            }
            
        }
        
    }
}